{%- assign formId = 'ContactForm' -%}

{% assign klaviyo_id = settings.klaviyo_id %}

<div class="contact-form">
  <div class="contact-form__container container container--l">
    <div class="contact-form__inner">

      <div class="contact-form__head">
        <h2 class="contact-form__title white h1--contact align-c">Contactez-nous</h2>
      </div>

      <div class="contact-form__form">
        <form id="warranty_signup"
              action="//manage.kmail-lists.com/subscriptions/subscribe"
              data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe"
              method="GET" target="_blank" novalidate="novalidate"
        >
          <input type="hidden" name="g" value="{{ klaviyo_id }}">
          <input type="hidden" name="$fields" value="$consent, First_Name, Last_Name, Title, Message, Address, Country, City">
          <input type="hidden" name="$list_fields" value="$consent">

          <div class="contact-form__messages align-c">
            <div class="success_message green p2" style="display:none;"></div>
            <div class="error_message red p2" style="display:none;"></div>
          </div>

          <div class="contact-form__form-inner f jcs ais">
            <div class="contact-form__field-group">
              {% include 'input-text',
                class: 'contact-form__text',
                name: 'first_name',
                label: 'Prénom*',
                placeholder: 'Prénom*',
                type: 'text',
                error: 'A valid is required.',
                required: true
              %}

              {% include 'input-text',
                class: 'contact-form__text',
                name: 'last_name',
                label: 'Nom*',
                placeholder: 'Nom*',
                type: 'text',
                error: 'A valid is required.',
                required: true
              %}

              {% include 'input-text',
                class: 'contact-form__text',
                name: 'email',
                label: 'E-mail*',
                placeholder: 'E-mail*',
                type: 'email',
                error: 'A valid E-mail is required.',
                required: true
              %}

              {% include 'select-input',
                class: 'contact-form__select',
                name: 'country',
                type: 'country',
                option: 'Pays ou Région*',
                error: 'A valid is required.',
                required: true
              %}
              <div class="contact-form__note white p3">
                *Champs obligatoires
              </div>
            </div>
            <div class="contact-form__field-group">
              {% include 'input-text',
                class: 'contact-form__text',
                name: 'Objet',
                label: 'Objet*',
                placeholder: 'Objet*',
                type: 'text',
                error: 'A valid is required.',
                required: true
              %}

              {%- assign message = 'Text, Content' | split: ', ' -%}
              {% include 'select-input',
                class: 'contact-form__select',
                name: 'message',
                option: 'Message*',
                options: message,
                error: 'A valid is required.',
                required: true
              %}

              <div class="contact-form__actions align-r">
                <button type="submit" class="button button--border">Envoyez</button>
              </div>

            </div>
          </div>
        </form>
        <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
        <script>
          KlaviyoSubscribe.attachToForms('#warranty_signup', {
            // Hide klaviyo_field_group after submit
            hide_form_on_success: false,
            // redirect to url after success
            // success_url: "http://www.evxample.com/thank-you",
            extra_properties: {
              $source: 'Warranty Signup Form',
              $method_type: "Custom Klaviyo Form",
              $consent_version: '',
            }
          });
        </script>
      </div>

      <div class="contact-form__footer f jcc aic">
        {%- capture social_list_items -%}
        {%- assign social_accounts = 'Facebook, Instagram, Twitter, Linkedin' | split: ', ' -%}
          {%- for social in social_accounts -%}
            {%- assign social_handle = social | handleize -%}
            {%- capture social_link --%}social_{{ social_handle }}_link{%- endcapture -%}
            {%- capture social_icon -%}icon-{{ social_handle }}{%- endcapture -%}
            {%- if section.settings[social_link] != blank -%}{%- endif -%}
            <li class="footer__social-item f jcc aic{{ social_icon }}">
              <a class="footer__social-item-link f jcc aic white" target="_blank" href="{{ section.settings[social_link] }}">
                {%- include 'icon' with social_icon -%}
                <span class="icon-fallback-text">{{ social }}</span>
              </a>
            </li>

          {%- endfor -%}
        {%- endcapture -%}
        {%- if social_list_items -%}
          <div class="footer__social-list">
            <ul class="footer__social-list-inner f jcs aic">
              {{ social_list_items }}
            </ul>
          </div>
        {%- endif -%}
      </div>

    </div>
  </div>
</div>

