<div class="content-background relative forward_content normal_content" id="{{ content_id }}">
    {% if image != blank %}
      {%- assign image_src = image | img_url: '2160x' -%}
      <div class="content-background__image">
        <figure class="content-background__image-wrapper image--cover image--loaded ratio ro-2" role="img">
          <img class="image__img" src="{{ image_src }}" alt="">
        </figure>
      </div>
    {% endif %}
    <div class="content-background__container container container--xl">
      <div class="content-background__inner">
        {% if title != blank and content != blank %}
          <div class="content-background__content">
            {% if title != blank %}
              <h4 class="content-background__title h4 uppercase white arrow" id="{{ arrow_id }}">
                {{ title }}
              </h4>
            {% endif %}
            {% if title != blank %}
              <div class="content-background__description p2 white-05 align-l">{{ content }}</div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
</div>
