<style>
  @font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url("{{ 'HelveticaNeueLTStd-Roman.eot' | asset_url }}");
    src: url("{{ 'HelveticaNeueLTStd-Roman.eot?#iefix' | asset_url }}") format('embedded-opentype'),
    url("{{ 'HelveticaNeueLTStd-Roman.woff2' | asset_url }}") format('woff2'),
    url("{{ 'HelveticaNeueLTStd-Roman.woff' | asset_url }}") format('woff'),
    url("{{ 'HelveticaNeueLTStd-Roman.ttf' | asset_url }}") format('truetype');
    font-weight: normal;
    font-style: normal;
  }
</style>
