<div class="four-up {{ class }} forward_content normal_content" id="{{ content_id }}">
  <div class="four-up__wrapper">
    <div class="four-up__container container container--xl">
      <div class="four-up__inner">
        <div class="four-up__list">
          <div class="four-up__item f jcc aic">
            <div class="four-up__item-content">
              {% if title_second != blank %}
                <h4 class="four-up__item-title h4 uppercase white arrow" id="{{ arrow_id }}">{{ title_second }}</h4>
              {% endif %}

              {% if content_second != blank %}
                <div class="four-up__item-description p2 white-05 align-l">{{ content_second }}</div>
              {% endif %}
            </div>
            {% if image_second != blank %}
              {%- assign image_second_src = image_second | img_url: '2160x' -%}
              <div class="four-up__item-image">
                <figure class="four-up__item-image-wrapper image--contain image--loaded ratio ro-2" role="img">
                  <img class="image__img" src="{{ image_second_src }}" alt="">
                </figure>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
