<div class="four-up {{ class }} forward_content normal_content" id="{{ content_id }}">
  <div class="four-up__wrapper">
    <div class="four-up__container container container--xl">
      <div class="four-up__inner">
        <div class="four-up__list">
          <div class="four-up__item f jcc aic">
            <div class="four-up__item-content white">
              {% if title_first != blank %}
                <h4 class="four-up__item-title h4 uppercase white arrow" id="{{ arrow_id }}">
                  <span id="link-three">{{ title_first }}</span>
                </h4>
              {% endif %}

              {% if content_first != blank %}
                <div class="four-up__item-description p2 white-05 align-l">{{ content_first }}</div>
              {% endif %}
            </div>
            {% if image_first != blank %}
              {%- assign image_first_src = image_first | img_url: '2160x' -%}
              <div class="four-up__item-image">
                <figure class="four-up__item-image-wrapper image--contain image--loaded ratio ro-2" role="img">
                  <img class="image__img" src="{{ image_first_src }}" alt="">
                </figure>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
