{%- comment -%}
  Parameters
  * hero_type
  * image
  * video
  * text_left
  * text_right
{%- endcomment -%}

<div class="hero hero--bg-video relative hero--bg-image bg-black forward_content normal_content" id="{{ content_id }}">
  <div class="text-scroll">
    <div class="text-scroll__left white p2">
      <svg id="Group_12" data-name="Group 12" xmlns="http://www.w3.org/2000/svg" width="11.209" height="255.592" viewBox="0 0 11.209 255.592">
        <path id="Path_13" data-name="Path 13" d="M12.108,112.129h6.056v-.311a.574.574,0,0,1,.112-.4.382.382,0,0,1,.292-.122.376.376,0,0,1,.282.122.59.59,0,0,1,.112.4v1.1H11.339v-1.166q2.4-2.158,4.675-4.393a20.758,20.758,0,0,0,1.455-1.529,3.444,3.444,0,0,0,.538-.859,2.051,2.051,0,0,0,.147-.747,2.414,2.414,0,0,0-.817-1.794,2.754,2.754,0,0,0-1.971-.779,3,3,0,0,0-1.833.593,2.652,2.652,0,0,0-1.032,1.464.518.518,0,0,1-.141.288.391.391,0,0,1-.263.1.365.365,0,0,1-.269-.109.351.351,0,0,1-.106-.256,2.51,2.51,0,0,1,.493-1.221,3.373,3.373,0,0,1,1.359-1.211,3.887,3.887,0,0,1,1.782-.442,3.526,3.526,0,0,1,2.535,1.022,3.156,3.156,0,0,1,1.061,2.32,2.732,2.732,0,0,1-.179,1,4.1,4.1,0,0,1-.6,1,21.375,21.375,0,0,1-1.538,1.628q-2.778,2.74-4.525,4.252Z" transform="translate(-9.929 -100.853)" fill="#fff"/>
        <path id="Path_14" data-name="Path 14" d="M12.484,116.632a5.829,5.829,0,0,1,1.509-1.6,3.036,3.036,0,0,1,1.721-.516,2.976,2.976,0,0,1,2.233,1.048,3.634,3.634,0,0,1,.977,2.586,4.158,4.158,0,0,1-.891,2.576,2.93,2.93,0,0,1-2.461,1.17,3.256,3.256,0,0,1-1.913-.631,4.116,4.116,0,0,1-1.391-1.932,9.873,9.873,0,0,1-.628-3.6,6.471,6.471,0,0,1,.59-2.759,5.833,5.833,0,0,1,1.2-1.734,6.349,6.349,0,0,1,1.75-1.221,5.037,5.037,0,0,1,2.166-.474,2.471,2.471,0,0,1,1.314.32.422.422,0,0,1,.224.375.372.372,0,0,1-.1.276.341.341,0,0,1-.263.109.647.647,0,0,1-.292-.093,2.171,2.171,0,0,0-.958-.189,4.547,4.547,0,0,0-3.336,1.573,5.211,5.211,0,0,0-1.506,3.74C12.429,115.872,12.449,116.193,12.484,116.632Zm.179,1.3a4.6,4.6,0,0,0,1.125,2.442,2.518,2.518,0,0,0,1.8.734,2.358,2.358,0,0,0,1.8-.824,3.069,3.069,0,0,0,.743-2.134,2.878,2.878,0,0,0-.75-2.038,2.277,2.277,0,0,0-1.7-.808,2.584,2.584,0,0,0-1.756.779A7.142,7.142,0,0,0,12.663,117.936Z" transform="translate(-9.263 -81.674)" fill="#fff"/>
        <path id="Path_15" data-name="Path 15" d="M18.452,127.42v-1.445H20.3a.59.59,0,0,1,.4.112.387.387,0,0,1,.122.292.371.371,0,0,1-.122.282.574.574,0,0,1-.4.112H19.241v7.877a2.877,2.877,0,0,1-.34,1.41,3.045,3.045,0,0,1-.75.852,4.037,4.037,0,0,1-.958.631,2.952,2.952,0,0,1-1.154.186H13.806a.61.61,0,0,1-.4-.106.364.364,0,0,1-.122-.288.376.376,0,0,1,.122-.292.591.591,0,0,1,.4-.112l2.262.01a2.293,2.293,0,0,0,1.253-.356,2.724,2.724,0,0,0,.923-1.041,2.16,2.16,0,0,0,.208-1.006v-2.365a3.886,3.886,0,0,1-3.269,1.737,3.775,3.775,0,0,1-2.8-1.208,4.163,4.163,0,0,1,0-5.806,3.781,3.781,0,0,1,2.8-1.2A3.892,3.892,0,0,1,18.452,127.42Zm0,2.378a3.208,3.208,0,0,0-.955-2.349,3.169,3.169,0,0,0-4.547.006,3.379,3.379,0,0,0,0,4.695,3.169,3.169,0,0,0,4.547,0A3.225,3.225,0,0,0,18.452,129.8Z" transform="translate(-10.227 -46.095)" fill="#fff"/>
        <path id="Path_16" data-name="Path 16" d="M14.559,134.615v1.993a13.036,13.036,0,0,1,2.3-1.791,3.081,3.081,0,0,1,1.413-.4,2.067,2.067,0,0,1,1.307.474c.407.317.609.554.609.718a.394.394,0,0,1-.122.295.384.384,0,0,1-.292.119.4.4,0,0,1-.16-.032,1.324,1.324,0,0,1-.244-.212,2.339,2.339,0,0,0-.574-.452,1.088,1.088,0,0,0-.477-.122,2.615,2.615,0,0,0-1.243.413,18.433,18.433,0,0,0-2.522,2.019v4.316h3.493a.639.639,0,0,1,.413.109.37.37,0,0,1,.122.288.364.364,0,0,1-.122.279.6.6,0,0,1-.413.115H11.865a.609.609,0,0,1-.4-.109.359.359,0,0,1-.122-.279.347.347,0,0,1,.115-.266.594.594,0,0,1,.41-.109h1.907v-6.572H12.316a.574.574,0,0,1-.4-.112.369.369,0,0,1-.125-.292.361.361,0,0,1,.119-.279.576.576,0,0,1,.41-.115Z" transform="translate(-9.929 -26.857)" fill="#fff"/>
        <path id="Path_17" data-name="Path 17" d="M17.944,151.506v-1.138a5.613,5.613,0,0,1-3.672,1.445,3.2,3.2,0,0,1-2.214-.718,2.278,2.278,0,0,1-.8-1.759,2.521,2.521,0,0,1,1.051-2,4.769,4.769,0,0,1,3.07-.856,10.576,10.576,0,0,1,1.182.071c.426.048.884.122,1.381.221V145.5a1.415,1.415,0,0,0-.6-1.128,2.863,2.863,0,0,0-1.8-.477,9.046,9.046,0,0,0-2.583.535,1.841,1.841,0,0,1-.385.093.34.34,0,0,1-.256-.112.377.377,0,0,1-.109-.282.334.334,0,0,1,.093-.253,3.269,3.269,0,0,1,1.061-.385,9.383,9.383,0,0,1,2.214-.394,3.408,3.408,0,0,1,2.33.734,2.189,2.189,0,0,1,.836,1.67v5.22h1.051a.622.622,0,0,1,.413.106.37.37,0,0,1,.122.288.376.376,0,0,1-.122.282.62.62,0,0,1-.413.112Zm0-3.925a7.787,7.787,0,0,0-1.176-.234,10.535,10.535,0,0,0-1.3-.077,4.335,4.335,0,0,0-2.685.743,1.625,1.625,0,0,0-.731,1.323,1.53,1.53,0,0,0,.558,1.2,2.4,2.4,0,0,0,1.628.487,4.439,4.439,0,0,0,1.9-.41,6.831,6.831,0,0,0,1.811-1.3Z" transform="translate(-10.103 -7.736)" fill="#fff"/>
        <path id="Path_18" data-name="Path 18" d="M12.883,152.076v.8a2.825,2.825,0,0,1,2.016-1.08,1.793,1.793,0,0,1,1.07.324,2.424,2.424,0,0,1,.772.981,3.989,3.989,0,0,1,1.067-.981,2.051,2.051,0,0,1,1.083-.324,1.754,1.754,0,0,1,1.359.554,2.231,2.231,0,0,1,.667,1.557v5.512h.667a.61.61,0,0,1,.4.106.395.395,0,0,1,0,.57.591.591,0,0,1-.4.112H20.128v-6.223a1.411,1.411,0,0,0-.365-1,1.122,1.122,0,0,0-.846-.394,1.633,1.633,0,0,0-.91.324,4.521,4.521,0,0,0-1.09,1.272v5.23h.657a.61.61,0,0,1,.4.106.395.395,0,0,1,0,.57.591.591,0,0,1-.4.112H16.119v-6.169A1.489,1.489,0,0,0,15.747,153a1.1,1.1,0,0,0-.83-.407,1.488,1.488,0,0,0-.833.272,4.725,4.725,0,0,0-1.2,1.323v5.23h.667a.622.622,0,0,1,.4.106.395.395,0,0,1,0,.57.6.6,0,0,1-.4.112H11.425a.587.587,0,0,1-.4-.112.388.388,0,0,1,0-.57.606.606,0,0,1,.4-.106h.667v-6.543h-.667a.586.586,0,0,1-.4-.112.378.378,0,0,1-.125-.292.363.363,0,0,1,.125-.282.586.586,0,0,1,.4-.112Z" transform="translate(-10.899 11.443)" fill="#fff"/>
        <path id="Path_19" data-name="Path 19" d="M12.883,160.775v.8a2.825,2.825,0,0,1,2.016-1.08,1.774,1.774,0,0,1,1.07.327,2.413,2.413,0,0,1,.772.977,3.973,3.973,0,0,1,1.067-.977,2.027,2.027,0,0,1,1.083-.327,1.754,1.754,0,0,1,1.359.554,2.236,2.236,0,0,1,.667,1.557v5.512h.667a.629.629,0,0,1,.4.106.369.369,0,0,1,.122.288.36.36,0,0,1-.122.282.59.59,0,0,1-.4.112H20.128v-6.223a1.411,1.411,0,0,0-.365-1,1.122,1.122,0,0,0-.846-.394,1.658,1.658,0,0,0-.91.324,4.569,4.569,0,0,0-1.09,1.272v5.23h.657a.629.629,0,0,1,.4.106.369.369,0,0,1,.122.288.36.36,0,0,1-.122.282.59.59,0,0,1-.4.112H16.119v-6.169a1.481,1.481,0,0,0-.372-1.035,1.091,1.091,0,0,0-.83-.41,1.514,1.514,0,0,0-.833.272,4.726,4.726,0,0,0-1.2,1.323v5.23h.667a.641.641,0,0,1,.4.106.38.38,0,0,1,.122.288.371.371,0,0,1-.122.282.6.6,0,0,1-.4.112H11.425a.586.586,0,0,1-.4-.112.363.363,0,0,1-.125-.282.371.371,0,0,1,.125-.288.625.625,0,0,1,.4-.106h.667v-6.543h-.667a.587.587,0,0,1-.4-.112.378.378,0,0,1-.125-.292.368.368,0,0,1,.125-.282.587.587,0,0,1,.4-.112Z" transform="translate(-10.899 30.619)" fill="#fff"/>
        <path id="Path_20" data-name="Path 20" d="M20.048,173.727H12.011a3.81,3.81,0,0,0,1.279,2.464,3.91,3.91,0,0,0,2.663.936,6.392,6.392,0,0,0,1.852-.292,4.7,4.7,0,0,0,1.577-.769.538.538,0,0,1,.308-.141.362.362,0,0,1,.263.115.39.39,0,0,1,.115.279.452.452,0,0,1-.151.311,4.237,4.237,0,0,1-1.6.875,6.971,6.971,0,0,1-2.365.41,4.627,4.627,0,0,1-3.381-1.33,4.315,4.315,0,0,1-1.359-3.214,3.964,3.964,0,0,1,1.269-2.948,4.362,4.362,0,0,1,3.153-1.231,4.285,4.285,0,0,1,3.182,1.266A4.382,4.382,0,0,1,20.048,173.727Zm-.8-.8a3.456,3.456,0,0,0-1.234-2.121,3.652,3.652,0,0,0-2.381-.817,3.65,3.65,0,0,0-2.374.808,3.465,3.465,0,0,0-1.24,2.131Z" transform="translate(-10.207 49.798)" fill="#fff"/>
        <path id="Path_21" data-name="Path 21" d="M17.875,178.692a.573.573,0,0,1,.112-.394.367.367,0,0,1,.282-.125.373.373,0,0,1,.292.125.6.6,0,0,1,.112.41v1.352a.59.59,0,0,1-.112.4.407.407,0,0,1-.561.019.511.511,0,0,1-.125-.336,1.256,1.256,0,0,0-.58-.929,3.549,3.549,0,0,0-2.038-.525,3.423,3.423,0,0,0-2.057.535,1.129,1.129,0,0,0-.554.9,1.093,1.093,0,0,0,.657.939,4.99,4.99,0,0,0,1.711.4,11.607,11.607,0,0,1,2.282.4,2.887,2.887,0,0,1,1.355.91,2.042,2.042,0,0,1,.445,1.259,2.27,2.27,0,0,1-.968,1.785,4.415,4.415,0,0,1-2.833.785,4.759,4.759,0,0,1-3.063-.949,1.384,1.384,0,0,1-.035.413.378.378,0,0,1-.135.16.4.4,0,0,1-.224.067.368.368,0,0,1-.282-.125.59.59,0,0,1-.112-.4v-1.621a.574.574,0,0,1,.112-.4.343.343,0,0,1,.282-.122.384.384,0,0,1,.285.115.42.42,0,0,1,.119.314,1.185,1.185,0,0,0,.218.724,2.312,2.312,0,0,0,1.048.743,4.514,4.514,0,0,0,1.759.3,3.753,3.753,0,0,0,2.291-.574,1.573,1.573,0,0,0,.75-1.208,1.325,1.325,0,0,0-.759-1.176,5.8,5.8,0,0,0-2.24-.59,9.368,9.368,0,0,1-2.109-.394,2.129,2.129,0,0,1-.993-.734,1.73,1.73,0,0,1-.359-1.051,1.818,1.818,0,0,1,1-1.612,4.566,4.566,0,0,1,2.374-.593A4.2,4.2,0,0,1,17.875,178.692Z" transform="translate(-9.698 68.979)" fill="#fff"/>
      </svg>
    </div>
    <div class="text-scroll__right white p2">
      <svg id="Group_13" data-name="Group 13" xmlns="http://www.w3.org/2000/svg" width="9.104" height="253.74" viewBox="0 0 9.104 253.74">
        <path id="Path_22" data-name="Path 22" d="M586.527,101.307v11.155h2.7a.61.61,0,0,1,.4.106.388.388,0,0,1,0,.57.59.59,0,0,1-.4.112h-6.194a.59.59,0,0,1-.4-.112.395.395,0,0,1,0-.57.61.61,0,0,1,.4-.106h2.7V102.4l-2.573.808a1.079,1.079,0,0,1-.272.058.368.368,0,0,1-.26-.119.373.373,0,0,1-.115-.279.418.418,0,0,1,.093-.263.928.928,0,0,1,.311-.157Z" transform="translate(-581.721 -101.307)" fill="#fff"/>
        <path id="Path_23" data-name="Path 23" d="M587.735,116.943a3.511,3.511,0,0,1,1.487,1.263,3.055,3.055,0,0,1,.506,1.686,3.258,3.258,0,0,1-1.054,2.419,3.689,3.689,0,0,1-5.1,0,3.254,3.254,0,0,1-1.051-2.419,3.01,3.01,0,0,1,.5-1.676,3.564,3.564,0,0,1,1.5-1.272,4.036,4.036,0,0,1-1.259-1.035,2.825,2.825,0,0,1-.545-1.679,3.062,3.062,0,0,1,1-2.269,3.476,3.476,0,0,1,4.819,0,3.076,3.076,0,0,1,.993,2.269,2.785,2.785,0,0,1-.545,1.67A3.849,3.849,0,0,1,587.735,116.943Zm1.2,2.964a2.421,2.421,0,0,0-.8-1.81,3.009,3.009,0,0,0-4.018,0,2.416,2.416,0,0,0-.808,1.8,2.508,2.508,0,0,0,.811,1.859,2.946,2.946,0,0,0,4.012,0A2.508,2.508,0,0,0,588.936,119.907Zm-.215-5.649a2.343,2.343,0,0,0-.756-1.743,2.709,2.709,0,0,0-3.7.006,2.325,2.325,0,0,0-.753,1.727,2.112,2.112,0,0,0,.75,1.609,2.608,2.608,0,0,0,1.852.692,2.651,2.651,0,0,0,1.865-.692A2.128,2.128,0,0,0,588.722,114.258Z" transform="translate(-581.701 -79.964)" fill="#fff"/>
        <path id="Path_24" data-name="Path 24" d="M589.8,130.249v-.263a.62.62,0,0,1,.112-.413.376.376,0,0,1,.282-.122.387.387,0,0,1,.292.122.618.618,0,0,1,.112.413v1.785a.668.668,0,0,1-.118.413.368.368,0,0,1-.285.122.348.348,0,0,1-.266-.109.549.549,0,0,1-.128-.362,1.856,1.856,0,0,0-.878-1.266,3.669,3.669,0,0,0-2.211-.6,3.273,3.273,0,0,0-2.666,1.1,3.838,3.838,0,0,0-.91,2.515,3.4,3.4,0,0,0,1,2.525,3.529,3.529,0,0,0,2.6,1,5.626,5.626,0,0,0,1.875-.337,4.764,4.764,0,0,0,1.721-1.09.553.553,0,0,1,.346-.189.348.348,0,0,1,.266.109.356.356,0,0,1,.112.266c0,.269-.317.612-.948,1.025a6.084,6.084,0,0,1-3.41,1,4.258,4.258,0,0,1-3.131-1.215,4.174,4.174,0,0,1-1.224-3.086,4.295,4.295,0,0,1,4.412-4.422A4.454,4.454,0,0,1,589.8,130.249Z" transform="translate(-582.089 -39.887)" fill="#fff"/>
        <path id="Path_25" data-name="Path 25" d="M588.948,147.3v-1.138a5.613,5.613,0,0,1-3.672,1.445,3.18,3.18,0,0,1-2.214-.718,2.272,2.272,0,0,1-.8-1.759,2.521,2.521,0,0,1,1.051-2,4.768,4.768,0,0,1,3.07-.856,11.415,11.415,0,0,1,1.182.07c.426.048.884.122,1.381.221v-1.275a1.415,1.415,0,0,0-.6-1.128,2.843,2.843,0,0,0-1.8-.477,9.046,9.046,0,0,0-2.583.535,1.944,1.944,0,0,1-.385.093.34.34,0,0,1-.256-.112.376.376,0,0,1-.109-.282.333.333,0,0,1,.093-.253,3.19,3.19,0,0,1,1.061-.385,9.384,9.384,0,0,1,2.214-.394,3.392,3.392,0,0,1,2.33.737,2.179,2.179,0,0,1,.837,1.666v5.22H590.8a.64.64,0,0,1,.413.106.37.37,0,0,1,.122.288.364.364,0,0,1-.122.279.6.6,0,0,1-.413.115Zm0-3.925a7.428,7.428,0,0,0-1.176-.234,10.541,10.541,0,0,0-1.3-.077,4.328,4.328,0,0,0-2.685.743,1.625,1.625,0,0,0-.731,1.323,1.53,1.53,0,0,0,.558,1.2,2.415,2.415,0,0,0,1.628.487,4.438,4.438,0,0,0,1.9-.407,6.851,6.851,0,0,0,1.811-1.3Z" transform="translate(-582.263 -18.458)" fill="#fff"/>
        <path id="Path_26" data-name="Path 26" d="M585.562,148.832v1.99a13.269,13.269,0,0,1,2.3-1.788,3.1,3.1,0,0,1,1.416-.4,2.081,2.081,0,0,1,1.307.471c.407.317.606.558.606.721a.4.4,0,0,1-.41.413.338.338,0,0,1-.16-.035,1.256,1.256,0,0,1-.244-.208,2.34,2.34,0,0,0-.574-.452,1.09,1.09,0,0,0-.481-.122,2.616,2.616,0,0,0-1.24.413,18.254,18.254,0,0,0-2.522,2.019v4.316h3.493a.624.624,0,0,1,.41.106.367.367,0,0,1,.125.288.363.363,0,0,1-.125.282.587.587,0,0,1-.41.112h-6.188a.591.591,0,0,1-.4-.109.342.342,0,0,1-.122-.276.359.359,0,0,1,.115-.269.612.612,0,0,1,.41-.106h1.907v-6.572h-1.458a.571.571,0,0,1-.4-.112.4.4,0,0,1-.006-.574.589.589,0,0,1,.407-.112Z" transform="translate(-582.089 3.027)" fill="#fff"/>
        <path id="Path_27" data-name="Path 27" d="M588.948,166.741v-1.134a5.63,5.63,0,0,1-3.672,1.445,3.18,3.18,0,0,1-2.214-.718,2.279,2.279,0,0,1-.8-1.762,2.521,2.521,0,0,1,1.051-2,4.788,4.788,0,0,1,3.07-.852,11.428,11.428,0,0,1,1.182.07c.426.048.884.119,1.381.221v-1.279a1.405,1.405,0,0,0-.6-1.125,2.843,2.843,0,0,0-1.8-.481,9.16,9.16,0,0,0-2.583.535,1.725,1.725,0,0,1-.385.093.329.329,0,0,1-.256-.112.367.367,0,0,1-.109-.282.337.337,0,0,1,.093-.253,3.267,3.267,0,0,1,1.061-.385,9.383,9.383,0,0,1,2.214-.394,3.393,3.393,0,0,1,2.33.74,2.177,2.177,0,0,1,.837,1.663v5.22H590.8a.639.639,0,0,1,.413.109.391.391,0,0,1,0,.567.619.619,0,0,1-.413.112Zm0-3.925a7.791,7.791,0,0,0-1.176-.234,11.225,11.225,0,0,0-1.3-.074,4.329,4.329,0,0,0-2.685.74,1.625,1.625,0,0,0-.731,1.323,1.521,1.521,0,0,0,.558,1.2,2.4,2.4,0,0,0,1.628.49,4.437,4.437,0,0,0,1.9-.407,6.867,6.867,0,0,0,1.811-1.3Z" transform="translate(-582.263 24.394)" fill="#fff"/>
        <path id="Path_28" data-name="Path 28" d="M585.047,170.1h4.281a.585.585,0,0,1,.4.112.382.382,0,0,1,.122.292.376.376,0,0,1-.122.282.6.6,0,0,1-.4.112h-4.281v5.246a1.424,1.424,0,0,0,.551,1.147,2.433,2.433,0,0,0,1.609.458,6.924,6.924,0,0,0,1.727-.237,5.846,5.846,0,0,0,1.445-.541.624.624,0,0,1,.308-.122.365.365,0,0,1,.266.119.393.393,0,0,1,.112.276.366.366,0,0,1-.122.263,3.914,3.914,0,0,1-1.458.673,7.522,7.522,0,0,1-2.224.362,3.429,3.429,0,0,1-2.195-.65,2.107,2.107,0,0,1-.817-1.746V170.9h-1.455a.591.591,0,0,1-.4-.112.376.376,0,0,1-.122-.292.36.36,0,0,1,.122-.282.574.574,0,0,1,.4-.112h1.455v-2.33a.586.586,0,0,1,.112-.4.371.371,0,0,1,.282-.122.387.387,0,0,1,.292.122.6.6,0,0,1,.112.4Z" transform="translate(-582.25 44.051)" fill="#fff"/>
        <path id="Path_29" data-name="Path 29" d="M588.878,178.568a.574.574,0,0,1,.112-.394.368.368,0,0,1,.282-.125.374.374,0,0,1,.292.125.6.6,0,0,1,.112.41v1.352a.591.591,0,0,1-.112.4.408.408,0,0,1-.561.019.519.519,0,0,1-.125-.336,1.249,1.249,0,0,0-.583-.929,3.529,3.529,0,0,0-2.035-.526,3.417,3.417,0,0,0-2.057.535,1.129,1.129,0,0,0-.554.9,1.093,1.093,0,0,0,.657.939,4.99,4.99,0,0,0,1.711.4,11.507,11.507,0,0,1,2.278.4,2.881,2.881,0,0,1,1.359.91,2.04,2.04,0,0,1,.445,1.256,2.276,2.276,0,0,1-.968,1.788,4.418,4.418,0,0,1-2.836.785,4.756,4.756,0,0,1-3.06-.948,1.5,1.5,0,0,1-.035.413.379.379,0,0,1-.135.16.4.4,0,0,1-.224.067.367.367,0,0,1-.282-.125.589.589,0,0,1-.112-.4v-1.621a.591.591,0,0,1,.109-.4.353.353,0,0,1,.285-.122.377.377,0,0,1,.285.115.415.415,0,0,1,.119.314,1.185,1.185,0,0,0,.218.724,2.318,2.318,0,0,0,1.048.743,4.574,4.574,0,0,0,1.759.3,3.736,3.736,0,0,0,2.288-.574,1.569,1.569,0,0,0,.753-1.211,1.324,1.324,0,0,0-.759-1.173,5.8,5.8,0,0,0-2.24-.59,9.368,9.368,0,0,1-2.109-.394,2.128,2.128,0,0,1-.993-.734,1.73,1.73,0,0,1-.359-1.051,1.815,1.815,0,0,1,1-1.612,4.535,4.535,0,0,1,2.375-.593A4.194,4.194,0,0,1,588.878,178.568Z" transform="translate(-581.857 67.25)" fill="#fff"/>
      </svg>
    </div>
  </div>

  <div class="hero__container {% if hero_type == 'image' %}container container--xl{% endif %}">
    <div class="hero__inner relative">
      {% if video != blank and hero_type == 'video' %}
        <div class="hero__video">
          <video src="{{ video }}" loop muted autoplay></video>
        </div>
      {% endif %}
      {% if image != blank and hero_type == 'image' %}
        {%- assign image_src = image | img_url: '2160x' -%}
        <div class="hero__image relative">
          <figure class="hero__image-wrapper image--contain image--loaded ratio ro-2" role="img">
            <img class="image__img" src="{{ image_src }}" alt="">
          </figure>

          <div class="hero__scroll w1 arrow" id="{{ arrow_id }}">
            {%- include 'icon' with 'icon-scroll' -%}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
