{%- case icon -%}

  {%- when 'icon-logo' -%}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 186.561 51.678">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo" x="0" y="0"></use>
  </svg>

  {%- when 'icon-search' -%}
    <svg viewBox="0 0 16 15">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search" x="0" y="0"></use>
    </svg>

  {%- when 'icon-bag' -%}
    <svg class="w1" viewBox="0 0 19 24">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bag" x="0" y="0"></use>
    </svg>

  {%- when 'icon-user' -%}
    <svg viewBox="0 0 24 25">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-user" x="0" y="0"></use>
    </svg>

  {%- when 'icon-arrow-down' -%}
    <svg viewBox="0 0 9 6">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-down" x="0" y="0"></use>
    </svg>

  {%- when 'icon-lang-down' -%}
    <svg viewBox="0 0 13 11">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-lang-down" x="0" y="0"></use>
    </svg>

  {%- when 'icon-scroll' -%}
    <svg viewBox="0 0 63 63">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-scroll" x="0" y="0"></use>
    </svg>

  {%- when 'icon-facebook' -%}
    <svg viewBox="0 0 8 15">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook" x="0" y="0"></use>
    </svg>

  {%- when 'icon-linkedin' -%}
    <svg viewBox="0 0 512 512">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin" x="0" y="0"></use>
    </svg>

  {%- when 'icon-twitter' -%}
    <svg viewBox="0 0 14 12">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter" x="0" y="0"></use>
    </svg>

  {%- when 'icon-instagram' -%}
    <svg viewBox="0 0 14 15">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram" x="0" y="0"></use>
    </svg>
  {%- when 'icon-pinterest' -%}
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pinterest" viewBox="0 0 20 20">
      <path fill="#444" d="M9.958.811q1.903 0 3.635.744t2.988 2 2 2.988.744 3.635q0 2.537-1.256 4.696t-3.415 3.415-4.696 1.256q-1.39 0-2.659-.366.707-1.147.951-2.025l.659-2.561q.244.463.903.817t1.39.354q1.464 0 2.622-.842t1.793-2.305.634-3.293q0-2.171-1.671-3.769t-4.257-1.598q-1.586 0-2.903.537T5.298 5.897 4.066 7.775t-.427 2.037q0 1.268.476 2.22t1.427 1.342q.171.073.293.012t.171-.232q.171-.61.195-.756.098-.268-.122-.512-.634-.707-.634-1.83 0-1.854 1.281-3.183t3.354-1.329q1.83 0 2.854 1t1.025 2.61q0 1.342-.366 2.476t-1.049 1.817-1.561.683q-.732 0-1.195-.537t-.293-1.269q.098-.342.256-.878t.268-.915.207-.817.098-.732q0-.61-.317-1t-.927-.39q-.756 0-1.269.695t-.512 1.744q0 .39.061.756t.134.537l.073.171q-1 4.342-1.22 5.098-.195.927-.146 2.171-2.513-1.122-4.062-3.44T.59 10.177q0-3.879 2.744-6.623T9.957.81z"/>
    </svg>
{%- endcase -%}
