{%- comment -%}
  Parameters
  * class
  * name
  * label
  * type
  * value
  * placeholder
  * error
  * required
{%- endcomment -%}

<div class="text-input{% if class != blank %} {{ class }}{% endif %}">
  <input type="{{ type }}" name="{{ name }}" placeholder="{{ placeholder }}" {% if required != blank %}required="required"{% endif %} class="text-input__el">
  <div class="text-input__focus"></div>
  <label for="{{ name }}" class="text-input__label">{{ label }}</label>
  <p class="text-input__error red p2" style="display: none;">{{ error }}</p>
</div>
