<div class="order-background forward_content normal_content" id="{{ content_id }}">
  <div class="order-background__inner">
    {% if image != blank %}
      {%- assign image_src = image | img_url: '2160x' -%}
      <div class="order-background__image relative">
        <figure class="order-background__image-wrapper image--contain image--loaded ratio ro-2" role="img">
          <img class="image__img" src="{{ image_src }}" alt="">
        </figure>
        {% if btn_url != blank and btn_text != blank %}
          <div class="order-background__button w1 align-c">
            <a class="button button--border js-popup-product" href="{{ btn_url }}">{{ btn_text }}</a>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
