<!-- /snippets/social-sharing.liquid -->
<ul class="footer__social-list-inner f jcs aic social-sharing">

  {% if settings.share_facebook %}
    <li class="footer__social-item f jcc aic">
      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" class="footer__social-item-link f jcc aic white">
        {%- include 'icon' with 'icon-facebook' -%}
        <span class="share-title hidden" aria-hidden="true">{{ 'general.social.share_on_facebook' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
      </a>
    </li>
  {% endif %}

  {% if settings.share_twitter %}
    <li class="footer__social-item f jcc aic">
      <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" class="footer__social-item-link f jcc aic white">
        {%- include 'icon' with 'icon-twitter' -%}
        <span class="share-title hidden" aria-hidden="true">{{ 'general.social.share_on_twitter' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
      </a>
    </li>
  {% endif %}

  {% if settings.share_pinterest %}
    <li class="footer__social-item f jcc aic">
      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" class="footer__social-item-link f jcc aic white">
        {%- include 'icon' with 'icon-pinterest' -%}
        <span class="share-title hidden" aria-hidden="true">{{ 'general.social.share_on_pinterest' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
      </a>
    </li>
  {% endif %}

</ul>
