<div class="text-two-image forward_content normal_content" id="{{ content_id }}">
  <div class="text-two-image__wrapper">
    <div class="text-two-image__container container container--xl">
      <div class="text-two-image__inner w1 f jcs aic">
        <div class="text-two-image__block-left w1 gs_reveal gs_reveal_fromLeft">
          {% if image_first != blank %}
            {%- assign image_first_src = image_first | img_url: '2160x' -%}
            <div class="text-two-image__image w1">
              <figure class="text-two-image__image-wrapper image--contain image--loaded ratio ro-2" role="img">
                <img class="image__img" src="{{ image_first_src }}" alt="">
              </figure>
            </div>
          {% endif %}
          {% if title != blank and content != blank %}
            <div class="text-two-image__content">
              {% if title != blank %}
                <h4 class="text-two-image__title h4 uppercase white arrow" id="{{ arrow_id }}">
                  {{ title }}
                </h4>
              {% endif %}
              {% if content != blank %}
                <div class="text-two-image__description p2 white-05 align-l">{{ content }}</div>
              {% endif %}
            </div>
          {% endif %}
        </div>

        <div class="text-two-image__block-right gs_reveal gs_reveal_fromRight">
          {% if image_second != blank %}
            {%- assign image_second_src = image_second | img_url: '2160x' -%}
            <div class="text-two-image__image-second">
              <figure class="text-two-image__image-second-wrapper image--contain image--loaded ratio ro-2" role="img">
                <img class="image__img" src="{{ image_second_src }}" alt="">
              </figure>
            </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</div>
