<div class="text-and-image-second bg-black forward_content normal_content {% if class != blank %} {{ class }}{% endif %}" id="{{ content_id }}">
  <div class="text-and-image-second__wrapper">
    <div class="text-and-image-second__container container container--xl">
      <div class="text-and-image-second__inner f jcb aic">
        <div class="text-and-image-second__content">
          <div class="text-and-image-second__content-inner gs_reveal gs_reveal_fromRight">
            {% if title != blank %}
              <h4 class="text-and-image-second__title h4 uppercase white arrow" id="{{ arrow_id }}">
                <span id="link-two">{{ title }}</span>
              </h4>
            {% endif %}
            {% if title != blank %}
              <div class="text-and-image-second__description p2 white-05 align-l">{{ content }}</div>
            {% endif %}
          </div>
        </div>
        {% if image != blank %}
          {%- assign image_src = image | img_url: '2160x' -%}
          <div class="text-and-image-second__img">
            <figure class="text-and-image-second__img-wrapper image--contain image--loaded ratio ro-2" role="img">
              <img class="image__img" src="{{ image_src }}" alt="">
            </figure>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
