<div class="two-hands-image forward_content normal_content" id="{{ content_id }}">
  <div class="two-hands-image__wrapper">
    <div class="two-hands-image__container">
      <div class="two-hands-image__inner">

        {% if image_first != blank %}
          {%- assign image_first_src = image_first | img_url: '2160x' -%}
          <div class="two-hands-image__image-first gs_reveal gs_reveal_fromLeft">
            <figure class="two-hands-image__image-first-wrapper image--cover image--loaded ratio" role="img">
              <img class="image__img" src="{{ image_first_src }}" alt="">
            </figure>
          </div>
        {% endif %}
        {% if image_second != blank %}
          {%- assign image_second_src = image_second | img_url: '2160x' -%}
          <div class="two-hands-image__image-second gs_reveal gs_reveal_fromRight">
            <figure class="two-hands-image__image-second-wrapper image--cover image--loaded ratio" role="img">
              <img class="image__img" src="{{ image_second_src }}" alt="">
            </figure>
          </div>
        {% endif %}
        {% if title != blank and content != blank %}
          <div class="two-hands-image__content">
            <div class="two-hands-image__content-container container container--xl">
              {% if title != blank %}
                <h4 class="two-hands-image__title h4 uppercase white arrow" id="{{ arrow_id }}">
                  <span id="link-five">{{ title }}</span>
                </h4>
              {% endif %}
              {% if content != blank %}
                <div class="two-hands-image__description p2 white-05 align-l">{{ content }}</div>
              {% endif %}
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
