<div class="two-text-and-two-image forward_content normal_content" id="{{ content_id }}">
  <div class="two-text-and-two-image__wrapper">
    <div class="two-text-and-two-image__container container container--xl">
      <div class="two-text-and-two-image__inner">
        <div class="two-text-and-two-image__block gs_reveal gs_reveal_fromBottom ipsType_center">
          {% if image_first != blank %}
            {%- assign image_first_src = image_first | img_url: '2160x' -%}
            <div class="two-text-and-two-image__image">
              <figure class="two-text-and-two-image__image-wrapper image--contain image--loaded ratio" role="img">
                <img class="image__img" src="{{ image_first_src }}" alt="">
              </figure>
            </div>
          {% endif %}

          <div class="two-text-and-two-image__content">
            {% if title_first != blank %}
              <h4 class="two-text-and-two-image__title h4 uppercase white arrow" id="{{ arrow_id }}">
                <span id="link-four">{{ title_first }}</span>
              </h4>
            {% endif %}
            {% if content_first != blank %}
              <div class="two-text-and-two-image__description p2 white-05 align-l">{{ content_first }}</div>
            {% endif %}
          </div>
        </div>

        <div class="two-text-and-two-image__block two-text-and-two-image__block--second">
          {% if image_second != blank %}
            {%- assign image_second_src = image_second | img_url: '2160x' -%}
            <div class="two-text-and-two-image__image-second">
              <figure class="two-text-and-two-image__image-second-wrapper image--contain image--loaded ratio" role="img">
                <img class="image__img" src="{{ image_second_src }}" alt="">
              </figure>
            </div>
          {% endif %}


          <div class="two-text-and-two-image__content">
            {% if title_second != blank %}
              <h4 class="two-text-and-two-image__title h4 uppercase white">{{ title_second }}</h4>
            {% endif %}
            {% if content_second != blank %}
              <div class="two-text-and-two-image__description p2 white-05 align-l">{{ content_second }}</div>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
