.four-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  overflow: hidden;

  @media (min-width: break($s)) {
    padding: 60px 0;
  }

  @media (min-width: break($m)) {
    padding: 70px 0;
  }

  @media (min-width: break($l)) {
    padding: 80px 0;
  }

  @media (min-width: break($xl)) {
    height: 750px;
    padding: 180px 0;
  }
}

.four-up--two {
  padding-bottom: 50px;

  @media (min-width: break($s)) {
    padding-bottom: 60px;
  }

  @media (min-width: break($m)) {
    padding-bottom: 70px;
  }

  @media (min-width: break($l)) {
    padding-bottom: 80px;
  }

  @media (min-width: break($xl)) {
    padding-bottom: 180px;
    height: 750px;
  }
}

.four-up__item {
  flex-direction: column-reverse;

  @media (min-width: break($s)) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: break($l)) {
    justify-content: center;
  }
}

.four-up__item-description {
  p {
    color: rgba(255,255,255, 0.5);
  }
}

.four-up__item-content {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: break($s)) {
    width: 50%;
    margin-right: 20px;
    margin-bottom: 0;
  }

  @media (min-width: break($m)) {
    margin-right: 50px;
  }

  @media (min-width: break($xl)) {
    margin-right: 90px;
  }
}

.four-up__item-image {
  width: 100%;
  margin: 0 0 10px;
  height: auto;

  @media (min-width: break($s)) {
    width: 50%;
    height: auto;
    margin: 0;
  }

  @media (min-width: break($m)) {
    margin-left: 20px;
  }
}

.four-up__item-image-wrapper {
  @media (min-width: break($l)) {
    width: 551px;
    height: 376px;
  }
}

.four-up__item-title {
  cursor: pointer;
  z-index: 5;
}
