.popup-contact {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  background-color: $c-black;
  transition: all 1s $ease-out-quart;

  @media (min-width: break($s)) {
    top: 80px;
  }

  .is-popup-contact-loaded & {
    z-index: 8;
    opacity: 1;
    visibility: visible;
    background-color: $c-black;
    transition: all 1s $ease-out-quart;
  }
}

.popup-contact__inner {
  display: block;
  width: 100%;
  height: 100%;
}
