.contact-form {
  padding: 30px 0;

  @media (min-width: break($s)) {
    padding: 45px 0;
  }

  @media (min-width: break($m)) {
    padding: 55px 0;
  }

  @media (min-width: break($l)) {
    padding: 65px 0;
  }

  .footer__newsletter & {
    padding: 0;
  }
}

.contact-form__form-inner {
  display: block;

  @media (min-width: break($s)) {
    display: flex;
    margin: 0 -13px;
  }
}

.contact-form__field-group {
  width: 100%;

  @media (min-width: break($s)) {
    width: 50%;
    padding: 0 13px;
  }
}

.contact-form__head {
  margin-bottom: 50px;
  padding-bottom: 15px;
  border-bottom: $c-border-white;

  @media (min-width: break($s)) {
    margin-bottom: 80px;
    padding-bottom: 20px;
  }

  @media (min-width: break($m)) {
    margin-bottom: 100px;
  }

  @media (min-width: break($l)) {
    margin-bottom: 130px;
  }
}

.contact-form__title {
  margin: 0;
}

.contact-form__footer {
  margin-top: 50px;
  padding-top: 15px;
  border-top: $c-border-white;

  @media (min-width: break($s)) {
    margin-top: 100px;
    padding-top: 20px;
  }

  @media (min-width: break($m)) {
    margin-top: 150px;
  }

  @media (min-width: break($l)) {
    margin-top: 200px;
  }
}

.contact-form__messages {
  margin-bottom: 20px;
}

.contact-form__actions {
  @media (min-width: break($l)) {
    padding-top: 80px;
  }
}
