.two-text-and-two-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.two-text-and-two-image__inner {
  @media (min-width: break($s)) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 350px;
  }

  @media (min-width: break($m)) {
    height: 400px;
  }

  @media (min-width: break($xl)) {
    height: 650px;
  }
}

.two-text-and-two-image__block {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 25px;

  @media (min-width: break($s)) {
    width: 50%;
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }

  @media (min-width: break($l)) {
    margin-top: 299px;
  }
}

.two-text-and-two-image__block--second {
  margin-top: 0;

  @media (min-width: break($s)) {
    flex-direction: column;
  }
}

.two-text-and-two-image__content {
  z-index: 2;

  .two-text-and-two-image__block--second & {
    @media (min-width: break($s)) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }

    @media (min-width: break($xl)) {
      margin-top: -74px;
    }
  }

  p {
    color: rgba(255,255,255, 0.5);
  }
}

.text-two-image__description {
  p {
    color: rgba(255,255,255, 0.5);
  }
}

.two-text-and-two-image__description {
  margin-bottom: 15px;

  @media (min-width: break($s)) {
    width: 250px;
  }

  @media (min-width: break($xl)) {
    width: 512px;
  }

  .two-text-and-two-image__block--second & {
    @media (min-width: break($s)) {
      width: 100%;
      text-align: right;
    }

    @media (min-width: break($xl)) {
      width: 512px;
    }
  }
}

.two-text-and-two-image__title {
  cursor: pointer;
  z-index: 5;

  @media (min-width: break($xl)) {
    max-width: 512px;
  }

  .two-text-and-two-image__block--second & {
    @media (min-width: break($s)) {
      text-align: right;
    }
  }
}

.two-text-and-two-image__inner {
  position: relative;
}

.two-text-and-two-image__image {
  margin-bottom: 15px;
}

.two-text-and-two-image__image-wrapper {
  width: 100%;
  height: 200px;
  margin: 0 auto;

  @media (min-width: break($s)) {
    width: auto;
    height: 300px;
  }

  @media (min-width: break($m)) {
    height: 450px;
  }

  @media (min-width: break($l)) {
    height: 550px;
    background-color: transparent;
  }

  @media (min-width: break($xl)) {
    height: 564px;
    margin-right: -200px;
    margin-top: -100px;
  }
}

.two-text-and-two-image__image-second {
  margin-bottom: 15px;

  @media (min-width: break($xl)) {
    margin-bottom: 0;
  }
}

.two-text-and-two-image__image-second-wrapper {
  width: 100%;
  height: 200px;

  @media (min-width: break($s)) {
    width: auto;
    height: 300px;
  }

  @media (min-width: break($m)) {
    width: auto;
    height: 400px;
  }

  @media (min-width: break($xl)) {
    height: 550px;
    margin-left: -200px;
  }
}
