.product-single__media-group {
  padding-left: 0;
}

.product-single__description {
  .popup-product & {
    color: $c-black;
  }
}

.product-single__description p {
  @include p3;

  @media (min-width: break($xl)) {
    @include p22;
  }

  .popup-product & {
    color: $c-black;
  }
}

.price--sold-out .price__badge--sold-out {
  border: none;
  color: $c-white;
  background-color: transparent;
}

.product-single__thumbnails {
  justify-content: center;
  align-items: center;
}

.product-single__title {
  @include h1;

  .popup-product & {
    color: $c-black;
  }
}

.price-item {
  @include h1;

  color: $c-white;

  .popup-product & {
    color: $c-black;
  }
}

.product-form {
  .product-form__item {
    position: relative;

    svg {
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 13px;
      height: auto;
    }

    label {
      margin-bottom: 10px;
    }
  }

  .disclosure__toggle,
  input,
  select,
  textarea {
    padding: 0 10px;
    border: $c-border;
  }

  .btn--secondary-accent {
    background-color: $c-white;
    color: $c-black;

    &:hover {
      background-color: $c-black;
      color: $c-white;
    }
  }
}

.btn--secondary-accent:focus, .btn--secondary-accent:not([disabled]):hover,
.product-form__cart-submit,
.shopify-payment-button .shopify-payment-button__button--unbranded {
  height: 40px;
  line-height: 40px;
  padding: 0;
  border: $c-border;
  border-radius: 0;
  color: $c-black !important;
  background-color: $c-white;
  transition: all $speed $ease;

  &:hover {
    background-color: $c-black !important;
    color: $c-white !important;
  }
}

.shopify-payment-button .shopify-payment-button__more-options {
  position: relative;
  width: auto;
  color: $c-white;
  text-decoration: inherit;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    bottom: -2px;
    height: 1px;
    transition: width .3s cubic-bezier(0,.1,.125,.7);
    transition-delay: .1s;
    z-index: -1;
    width: 0;
    background: $c-white;
  }

  &:hover:not([disabled]),
  &:hover {
    opacity: 1;
    text-decoration: inherit;
    color: $c-white !important;

    &:after{
      width: 100%;
      transition-delay: 0s;
      z-index: 1;
    }
  }
}
