.cart__submit {
  min-width: 158px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border: $c-border;
  border-radius: 0;
  color: $c-white;
  background-color: transparent;
  transition: all $speed $ease;

  &:hover {
    background-color: $c-light-gray !important;
    color: $c-white !important;
  }
}
