.content-background__description p {
  color: rgba(255,255,255, 0.5);
}

.content-background {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.content-background__container {
  height: 100%;
  z-index: 5;

  @media (min-width: break($s)) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  @media (min-width: break($xl)) {
    max-width: 860px;
    min-height: 450px;
  }

  @media (min-width: break($xxl)) {
    max-width: 1030px;
  }
}

.content-background__image {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;

  @media (min-width: break($s)) {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 0;
  }
}

.content-background__image-wrapper {
  height: 100%;
}

.content-background__image-wrapper::before {
  @media (min-width: break($xl)) {
    padding-bottom: calc(434/765 * 100%);
  }
}

.content-background__inner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;

  @media (min-width: break($s)) {
    width: 300px;
  }

  @media (min-width: break($m)) {
    width: 330px;
  }
}

.content-background__content {
  width: 100%;
}

.content-background__title {
  cursor: pointer;
  z-index: 5;
}
