
#preview-bar-iframe {
  display: none !important;
}

.footer__container {
  @media (min-width: break($xl)) {
    max-width: 1458px;
  }
}

.footer__inner {
  position: relative;
  display: block;
  margin-top: 40px;
  padding: 30px 0;

  @media (min-width: break($s)) {
    display: flex;
    align-items: stretch;
    margin-top: 40px;
    padding: 40px 0 60px;
  }

  @media (min-width: break($m)) {
    margin-top: 40px;
    padding: 60px 0 100px;
  }

  @media (min-width: break($xl)) {
    margin-top: 40px;
    padding: 80px 0 120px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: $c-dark-gray;
  }
}

.footer__column-menus {
  display: block;
  padding-bottom: 65px;

  @media (min-width: break($s)) {
    display: flex;
    align-items: stretch;
    width: 50%;
  }

  @media (min-width: break($m)) {
    width: 60%;
  }

  @media (min-width: break($xl)) {
    width: calc(100% - 645px);
  }
}

.footer__column-menu {
  margin-bottom: 25px;

  @media (min-width: break($s)) {
    width: calc(100% / 3);
    max-width: 296px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  @media (min-width: break($m)) {
    margin-right: 30px;
  }

  @media (min-width: break($xl)) {
    width: auto;
    margin-right: 20px;
  }

  &:nth-child(1) {
    @media (min-width: break($xl)) {
      margin-right: 60px;
    }
  }

  &:nth-child(2) {
    @media (min-width: break($xl)) {
      margin-right: 60px;
    }
  }
}

.footer__column-menu:nth-child(3) {
  margin-right: 0;
}

.footer_column-menu__title {
  margin-bottom: 10px;

  @media (min-width: break($xl)) {
    margin-bottom: 27px;
  }
}

.footer_column-menu__list li {
  margin-bottom: 10px;

  @media (min-width: break($xl)) {
    margin-bottom: 25px;
  }
}

.footer__social-item {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-bottom: 5px;
  border-radius: 100%;
  border: 1px solid $c-white;

  @media (min-width: break($l)) {
    margin-right: 25px;
  }

  svg {
    width: 16px;
    height: 16px;
  }

  .icon-fallback-text {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer__newsletter {
  margin-bottom: 25px;

  @media (min-width: break($xl)) {
    width: 400px;
  }

  .input-group__field {
    width: 100%;
    min-height: 44px;
    margin-bottom: 10px;
    padding: 0 10px;
    border: $c-border;
    background-color: $c-white;
    color: $c-black;

    @media (min-width: break($s)) {
      width: 283px;
      margin-bottom: 0;
    }

    &::-webkit-input-placeholder {
      color: $c-black;
    }
  }

  .input-group__btn {
    width: 100%;

    @media (min-width: break($s)) {
      width: 140px;
    }
  }

  .input-group {
    display: block;

    @media (min-width: break($s)) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  .input-error-message,
  .form-message--success {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .newsletter__submit {
    border-radius: 0;
    border-color: $c-dark-gray;
    background-color: transparent;
    @media (min-width: break($s)) {
      width: 132px;
      margin-left: 8px;
    }
  }
}

.footer__column-newsletter {
  position: relative;
  width: 100%;

  @media (min-width: break($s)) {
    width: 50%;
    margin-left: 40px;
    padding-left: 40px;
  }

  @media (min-width: break($m)) {
    width: 40%;
    max-width: 425px;
    margin-left: 50px;
    padding-left: 50px;
  }

  @media (min-width: break($l)) {
    margin-left: 70px;
    padding-left: 70px;
  }

  @media (min-width: break($xl)) {
    width: 645px;
    margin-left: 80px;
    padding-left: 140px;
  }

  &::before {
    content: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: $c-dark-gray;

    @media (min-width: break($s)) {
      content: '';
    }
  }
}

.footer__newsletter-title {
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: break($s)) {
    padding-bottom: 30px;
  }
}

.footer__newsletter-content {
  padding-bottom: 20px;

  @media (min-width: break($s)) {
    padding-bottom: 30px;
  }
}

.footer__image-pay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;

  @media (min-width: break($s)) {
    height: 65px;
  }

  .creditcards {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin-top: 1em;
      margin-right: 1em;
      width: 45px;
      height: 30px;
    }
  }
}

.footer__image-pay-wrapper {
  margin-left: -14px;

  &::before {
    padding-bottom: 25%;
  }
}
