.black { color: $c-black; }
.white { color: $c-white; }

.white-05 { color: rgba(255,255,255, 0.5); }

.orange { color: $c-orange; }
.green { color: $c-green; }
.red { color: $c-red; }

/* Background Colors */
.bg-black { background-color: $c-black; }
.bg-white { background-color: $c-white; }

.bg-orange { background-color: $c-orange; }
.bg-green { background-color: $c-green; }
