#MainContent {
  outline: none;
  margin-top: 56px;
  padding-top: 30px;

  @media (min-width: break($s)) {
    padding-top: 45px;
    margin-top: 80px;
  }

  @media (min-width: break($m)) {
    padding-top: 55px;
  }

  @media (min-width: break($l)) {
    padding-top: 65px;
  }

  .content {
    flex: 1 1 auto;
    min-height: 520px;
    position: relative;
    width: 100%;
  }

  .template-index & {
    margin-top: 0;
    padding-top: 0;
  }
}

.header,
.footer {
  flex: 0 0 auto;
  width: 100%;
}

.page-width {
  max-width: 1568px;
}
