/* Global */
html {
  font-size: 62.5%; /* Set base font-size to 10px */
}

body {
  color: $c-white;
  font-family: $font-primary;
  font-size: 1.4rem; /* 14px */
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 2px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@mixin p2 {
  font-family: $font-primary;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: normal;
  font-style: normal;

  @media (min-width: break($l)) {
    font-size: 1.8rem;
    line-height: 21.5px;
  }
}

@mixin p3 {
  font-family: $font-primary;
  font-size: 1.4rem;
}

.p15 {
  font-family: $font-primary;
  font-size: 1.5rem;
}

@mixin p22 {
  font-family: $font-primary;
  font-size: 2.2rem;
}

@mixin h1 {
  font-family: $font-primary;
  font-size: 3rem;

  @media (min-width: break($xs)) {
    font-size: 3.2rem;
  }

  @media (min-width: break($l)) {
    font-size: 4.2rem;
  }
}

@mixin h1--contact {
  font-family: $font-primary;
  font-size: 3rem;

  @media (min-width: break($xs)) {
    font-size: 3.2rem;
  }

  @media (min-width: break($l)) {
    font-size: 4rem;
  }
}

.h1--contact {
  @include h1--contact;
}

@mixin h2 {
  font-family: $font-primary;
  font-size: 2rem;
}

@mixin footer-heading {
  font-family: $font-primary;
  font-size: 1.8rem;

  @media (min-width: break($l)) {
    font-size: 2.4rem;
  }
}

.footer-heading {
  @include footer-heading;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal !important;
  font-style: normal !important;
}

h1,
.h1 {
  @include h1;
}

.h1--short {
  line-height: 1.2;

  @media (min-width: break($xs)) {
    line-height: 1.03;
  }
  @media (min-width: break($l)) {
    line-height: 1.01;
  }
}

.h2 {
  @include h2;
}

.h3 {
  font-family: $font-primary;
  font-size: 1.6rem; /* 16px */
  line-height: 1.25;

  @media (min-width: break($xs)) {
    font-size: 1.9rem; /* 19px */
    line-height: 1.32;
  }

  @media (min-width: break($m)) {
    font-size: 2.4rem; /* 24px */
    line-height: 1.14;
  }
}

@mixin h4 {
  font-family: $font-primary;
  font-size: 1.8rem;

  @media (min-width: break($s)) {
    font-size: 2rem;
    line-height: 24px;
  }
}

h4,
.h4 {
  @include h4;
}

/* Paragraphs */
.p1 {
  font-family: $font-primary;
  font-size: 1.4rem; /* 14px */
  line-height: 1.43;
}

p,
.p2 {
  @include p2;
}

.p3 {
  @include p3;
}

.p4 {
  font-family: $font-primary;
  font-size: 1.3rem; /* 13px */
  line-height: 1.38;

  @media (min-width: break($m)) {
    font-size: 2rem; /* 20px */
    line-height: 1.2;
  }
}

.badge {
  font-family: $font-primary;
  font-size: 1rem;
  line-height: 1.23;

  @media (min-width: break($m)) {
    font-size: 1.1rem;
  }
}

.p5 {
  font-family: $font-primary;
  font-size: 1.3rem; /* 13px */
  line-height: 31px;
}

.form-label {
  font-size: 1.4rem;
  line-height: 4.6rem;
}

.focus-form-label {
  font-size: 1.1rem;
  line-height: 2.4rem;
}

.form-button {
  font-family: $font-primary;
  font-size: 1.3rem;
}
/* Blockquote */

/* Links */
.link,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.p1 a,
.p2 a {
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
    height: 1px;
    border-bottom: solid 1px currentColor;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    border: solid 1px transparent;
    transition: border $transition-default;
  }

  &:hover {
    &::before {
      animation-name: text-link-hover;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
  }

  &:focus:not([disabled]) {
    &::after {
      border: $c-border;
    }
  }
}

/* Horizontal Rule */
%hr,
.hr {
  background-color: $c-black;
  border: none;
  display: block;
  height: 1px;
  width: 100%;

  &--light-gray {
    background-color: $c-light-gray;
  }

  &--dark-gray {
    background-color: $c-dark-gray;
    opacity: 0.5;
  }
}

/* Styles */
em,
.italic {
  font-style: italic;
}
.light {
  font-weight: 100;
}
.medium {
  font-weight: 500;
}
strong,
.bold {
  font-weight: 700;
}
.bolder {
  font-weight: 900;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.decoration--none {
  text-decoration: none;
}
.no-wrap {
  white-space: nowrap;
}
.small {
  font-size: 0.8em;
}
