<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  {%- assign header_font = settings.type_header_font -%}
  {%- assign base_font = settings.type_base_font -%}
  {%- assign base_font_bolder = base_font | font_modify: 'weight', 'bolder' -%}
  {%- assign base_font_bold = base_font | font_modify: 'weight', 'bold' -%}
  {%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
  {%- assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}

  <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style">
  <link rel="preload" as="font" href="{{ header_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ base_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ base_font_bold | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'lazysizes.js' | asset_url }}" as="script">

  {%- if canonical_url != blank  -%}
    <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
  {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'css-variables' %}

  <style>*,::after,::before{box-sizing:border-box}body{margin:0}body,html{background-color:var(--color-body)}body,button{font-size:calc(var(--font-size-base) * 1px);font-family:var(--font-stack-body);font-style:var(--font-style-body);font-weight:var(--font-weight-body);color:var(--color-text);line-height:1.5}body,button{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%}.border-bottom{border-bottom:1px solid var(--color-border)}.btn--link{background-color:transparent;border:0;margin:0;color:var(--color-text);text-align:left}.text-right{text-align:right}.icon{display:inline-block;width:20px;height:20px;vertical-align:middle;fill:currentColor}.icon__fallback-text,.visually-hidden{position:absolute!important;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0}svg.icon:not(.icon--full-color) circle,svg.icon:not(.icon--full-color) ellipse,svg.icon:not(.icon--full-color) g,svg.icon:not(.icon--full-color) line,svg.icon:not(.icon--full-color) path,svg.icon:not(.icon--full-color) polygon,svg.icon:not(.icon--full-color) polyline,svg.icon:not(.icon--full-color) rect,symbol.icon:not(.icon--full-color) circle,symbol.icon:not(.icon--full-color) ellipse,symbol.icon:not(.icon--full-color) g,symbol.icon:not(.icon--full-color) line,symbol.icon:not(.icon--full-color) path,symbol.icon:not(.icon--full-color) polygon,symbol.icon:not(.icon--full-color) polyline,symbol.icon:not(.icon--full-color) rect{fill:inherit;stroke:inherit}li{list-style:none}.list--inline{padding:0;margin:0}.list--inline>li{display:inline-block;margin-bottom:0;vertical-align:middle}a{color:var(--color-text);text-decoration:none}.h1,.h2,h1,h2{margin:0 0 17.5px;font-family:var(--font-stack-header);font-style:var(--font-style-header);font-weight:var(--font-weight-header);line-height:1.2;overflow-wrap:break-word;word-wrap:break-word}.h1 a,.h2 a,h1 a,h2 a{color:inherit;text-decoration:none;font-weight:inherit}.h1,h1{font-size:calc(((var(--font-h1-desktop))/ (var(--font-size-base))) * 1em);text-transform:none;letter-spacing:0}@media only screen and (max-width:749px){.h1,h1{font-size:calc(((var(--font-h1-mobile))/ (var(--font-size-base))) * 1em)}}.h2,h2{font-size:calc(((var(--font-h2-desktop))/ (var(--font-size-base))) * 1em);text-transform:uppercase;letter-spacing:.1em}@media only screen and (max-width:749px){.h2,h2{font-size:calc(((var(--font-h2-mobile))/ (var(--font-size-base))) * 1em)}}p{color:var(--color-body-text);margin:0 0 19.44444px}@media only screen and (max-width:749px){p{font-size:calc(((var(--font-size-base) - 1)/ (var(--font-size-base))) * 1em)}}p:last-child{margin-bottom:0}@media only screen and (max-width:749px){.small--hide{display:none!important}}.grid{list-style:none;margin:0;padding:0;margin-left:-30px}.grid::after{content:'';display:table;clear:both}@media only screen and (max-width:749px){.grid{margin-left:-22px}}.grid::after{content:'';display:table;clear:both}.grid--no-gutters{margin-left:0}.grid--no-gutters .grid__item{padding-left:0}.grid--table{display:table;table-layout:fixed;width:100%}.grid--table>.grid__item{float:none;display:table-cell;vertical-align:middle}.grid__item{float:left;padding-left:30px;width:100%}@media only screen and (max-width:749px){.grid__item{padding-left:22px}}.grid__item[class*="--push"]{position:relative}@media only screen and (min-width:750px){.medium-up--one-quarter{width:25%}.medium-up--push-one-third{width:33.33%}.medium-up--one-half{width:50%}.medium-up--push-one-third{left:33.33%;position:relative}}.site-header{position:relative;background-color:var(--color-body)}@media only screen and (max-width:749px){.site-header{border-bottom:1px solid var(--color-border)}}@media only screen and (min-width:750px){.site-header{padding:0 55px}.site-header.logo--center{padding-top:30px}}.site-header__logo{margin:15px 0}.logo-align--center .site-header__logo{text-align:center;margin:0 auto}@media only screen and (max-width:749px){.logo-align--center .site-header__logo{text-align:left;margin:15px 0}}@media only screen and (max-width:749px){.site-header__logo{padding-left:22px;text-align:left}.site-header__logo img{margin:0}}.site-header__logo-link{display:inline-block;word-break:break-word}@media only screen and (min-width:750px){.logo-align--center .site-header__logo-link{margin:0 auto}}.site-header__logo-image{display:block}@media only screen and (min-width:750px){.site-header__logo-image{margin:0 auto}}.site-header__logo-image img{width:100%}.site-header__logo-image--centered img{margin:0 auto}.site-header__logo img{display:block}.site-header__icons{position:relative;white-space:nowrap}@media only screen and (max-width:749px){.site-header__icons{width:auto;padding-right:13px}.site-header__icons .btn--link,.site-header__icons .site-header__cart{font-size:calc(((var(--font-size-base))/ (var(--font-size-base))) * 1em)}}.site-header__icons-wrapper{position:relative;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-webkit-justify-content:flex-end;-ms-justify-content:flex-end;justify-content:flex-end}.site-header__account,.site-header__cart,.site-header__search{position:relative}.site-header__search.site-header__icon{display:none}@media only screen and (min-width:1400px){.site-header__search.site-header__icon{display:block}}.site-header__search-toggle{display:block}@media only screen and (min-width:750px){.site-header__account,.site-header__cart{padding:10px 11px}}.site-header__cart-title,.site-header__search-title{position:absolute!important;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0;display:block;vertical-align:middle}.site-header__cart-title{margin-right:3px}.site-header__cart-count{display:flex;align-items:center;justify-content:center;position:absolute;right:.4rem;top:.2rem;font-weight:700;background-color:var(--color-btn-primary);color:var(--color-btn-primary-text);border-radius:50%;min-width:1em;height:1em}.site-header__cart-count span{font-family:HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:calc(11em / 16);line-height:1}@media only screen and (max-width:749px){.site-header__cart-count{top:calc(7em / 16);right:0;border-radius:50%;min-width:calc(19em / 16);height:calc(19em / 16)}}@media only screen and (max-width:749px){.site-header__cart-count span{padding:.25em calc(6em / 16);font-size:12px}}.site-header__menu{display:none}@media only screen and (max-width:749px){.site-header__icon{display:inline-block;vertical-align:middle;padding:10px 11px;margin:0}}@media only screen and (min-width:750px){.site-header__icon .icon-search{margin-right:3px}}.announcement-bar{z-index:10;position:relative;text-align:center;border-bottom:1px solid transparent;padding:2px}.announcement-bar__link{display:block}.announcement-bar__message{display:block;padding:11px 22px;font-size:calc(((16)/ (var(--font-size-base))) * 1em);font-weight:var(--font-weight-header)}@media only screen and (min-width:750px){.announcement-bar__message{padding-left:55px;padding-right:55px}}.site-nav{position:relative;padding:0;text-align:center;margin:25px 0}.site-nav a{margin:3px 10px}.site-nav__link{display:block;white-space:nowrap}.site-nav--centered .site-nav__link{padding-top:0}.site-nav__link .icon-chevron-down{width:calc(8em / 16);height:calc(8em / 16);margin-left:.5rem}.site-nav__label{border-bottom:1px solid transparent}.site-nav__link--active .site-nav__label{border-bottom-color:var(--color-text)}.site-nav__link--button{border:none;background-color:transparent;padding:3px 10px}.site-header__mobile-nav{z-index:11;position:relative;background-color:var(--color-body)}@media only screen and (max-width:749px){.site-header__mobile-nav{display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center}}.mobile-nav--open .icon-close{display:none}.main-content{opacity:0}.main-content .shopify-section{display:none}.main-content .shopify-section:first-child{display:inherit}.critical-hidden{display:none}</style>

  <script>
    window.performance.mark('debut:theme_stylesheet_loaded.start');

    function onLoadStylesheet() {
      performance.mark('debut:theme_stylesheet_loaded.end');
      performance.measure('debut:theme_stylesheet_loaded', 'debut:theme_stylesheet_loaded.start', 'debut:theme_stylesheet_loaded.end');

      var url = "{{ 'theme.css' | asset_url }}";
      var link = document.querySelector('link[href="' + url + '"]');
      link.loaded = true;
      link.dispatchEvent(new Event('load'));
    }
  </script>

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" type="text/css" media="print" onload="this.media='all';onLoadStylesheet()">

  <style>
    {{ header_font | font_face: font_display: 'swap' }}
    {{ base_font | font_face: font_display: 'swap' }}
    {{ base_font_bold | font_face: font_display: 'swap' }}
    {{ base_font_bolder | font_face: font_display: 'swap' }}
    {{ base_font_italic | font_face: font_display: 'swap' }}
    {{ base_font_bold_italic | font_face: font_display: 'swap' }}
  </style>

  <script>
    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{ 'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        fromLowestPrice: {{ 'products.product.from_lowest_price_html' | t: lowest_price: '[price]' | json }},
        vendor: {{'products.product.vendor' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        searchFor: {{ 'general.search.search_for' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
        otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
        quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }},
        products: {{ 'general.search.products' | t | json }},
        loading: {{ 'general.search.loading' | t | json }},
        number_of_results: {{ 'general.search.number_of_results' | t: result_number: '[result_number]', results_count: '[results_count]' | json }},
        number_of_results_found: {{ 'general.search.number_of_results_found' | t: results_count: '[results_count]' | json }},
        one_result_found: {{ 'general.search.one_result_found' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
      settings: {
        predictiveSearchEnabled: {{ settings.predictive_search_enabled | json }},
        predictiveSearchShowPrice: {{ settings.predictive_search_show_price | json }},
        predictiveSearchShowVendor: {{ settings.predictive_search_show_vendor | json }}
      },
      stylesheet: "{{ 'theme.css' | asset_url }}"
    };

    {%- if template == 'collection' -%}
    {%- if current_tags -%}
    {%- capture tag_handles -%}
    {%- for tag in current_tags -%}
    {{- tag | handle | append: '|' -}}
    {%- endfor -%}
    {%- endcapture -%}
    {%- endif -%}
    theme.backToCollection = {
      collection: {
        title: {{ collection.title | json }},
        link: "{{ shop.url }}{{ collection.url }}{%- if current_tags -%}/{{- tag_handles | split: '|' | join: '+' -}}{%- endif -%}"
      }
    };
    sessionStorage.setItem("backToCollection", JSON.stringify(theme.backToCollection.collection));

    {%- elsif template != 'product' -%}
    if (sessionStorage.getItem("backToCollection")) {
      sessionStorage.removeItem("backToCollection")
    }
    {%- endif -%}

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>

  <script type="text/javascript">
    if (window.MSInputMethodContext && document.documentMode) {
      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11CustomProperties.min.js' | asset_url }}";

      scripts.parentNode.insertBefore(polyfill, scripts);
    }
  </script>

  {% include "fonts" %}
  <link rel="stylesheet" href="{{ 'main.min.css' | asset_url }}" />
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js' id='jquery-core-js'></script>
  <script src="{{ 'main.min.js' | asset_url }}" defer="defer"></script>


  {{ content_for_header }}
</head>

<body class="bg-black template-{{ request.page_type | handle }}">

<a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

{%- if settings.enable_ajax -%}
  {% include 'cart-popup' %}
{%- endif -%}

{% section 'header' %}
<ul class="forward_nav"></ul>
<div class="page-container drawer-page-content" id="PageContainer">
  <main class="main-content relative tesst js-focus-hidden forward_wrapper" id="MainContent" role="main" tabindex="-1">
    <div class="forward_scroll">
      <div class="forward_content_container">
        {{ content_for_layout }}
        {% section 'footer' %}
      </div>
    </div>
  </main>

  <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
    {{- 'sections.slideshow.navigation_instructions' | t -}}
  </div>
</div>

<script type="application/json" data-cart-routes>
  {
    "cartUrl": "{{ routes.cart_url }}",
    "cartAddUrl": "{{ routes.cart_add_url }}",
    "cartChangeUrl": "{{ routes.cart_change_url }}"
  }
</script>

<ul hidden>
  <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
</ul>


{%- include 'popup-contact' -%}
{%- section 'popup-product' -%}
{%- section 'loading' -%}
{%- include 'icon-paths' -%}


<script type='text/javascript' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js'></script>
<script type='text/javascript' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.1/ScrollToPlugin.min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.0.0/velocity.min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js'></script>
{%- if template == 'index' -%}
<script>
  $(document).ready(function () {

    $('.js-site-header-logo').on('click', function(e) {
      e.preventDefault();
      $.each($('.forward_nav_item'), function () {
        $(this).removeClass('active');
      });
      $('#forward_nav0').addClass('active');
      $('html, body').animate({
        scrollTop: $('html, body').offset().top,
      });
    });

    // lock scroll
    var scrollPosition = [
      self.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft,
      self.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop];
    var html = $('html');
    html.data('scroll-position', scrollPosition);
    html.data('previous-overflow', html.css('overflow'));
    html.css('overflow', 'hidden');
    window.scrollTo(scrollPosition[0], scrollPosition[1]);
    $('html, body').mousedown(function (e) {
      if (e.button == 1) return false;
    });
    $('html, body').on('touchmove', function(e){
      e.preventDefault();
    });

    // responsive resizing
    function responsiveResize() {

      // get device and content height and calculate content areas
      var deviceHeight = $(window).height();

      $(".normal_content").each(function() {
        var contentHeight = $(this).height();
        $(this).css('padding-top', Math.round((deviceHeight - contentHeight) / 2));
        $(this).css('padding-bottom', Math.round((deviceHeight - contentHeight) / 2));
      });

      phoneOffset = (deviceHeight - $('.forward_mockup_container').height())/2;

      // recalculate current slide margintop
      if (!$('.active').hasClass("fake_slide")) {
        if ($('.active').hasClass('first_slide')) {
        } else if ($('.active').hasClass("fake_slide_footer")) {
        } else {
        }
      }

      if ($('.forward_nav').css('position') == 'fixed') {
        if (!(window.mozInnerScreenX == null) || !jQuery.support.leadingWhitespace) {
          navMargin = (parseInt($('.forward_content_container').offset().left));
        } else {
          navMargin = (parseInt($('.forward_content_container').css('marginLeft')));
        }
      }
    }

    // initial calculations
    $(window).load(function() {
      // generate navigation
      $(".forward_content").each(function() {
        if (!$(this).hasClass('footer_content')) {
          var navigationID = $(this).attr('id').replace('content','');
          if (navigationID == 0) {
            $(".forward_nav").append('<li class="forward_nav_item active" id="forward_nav' + navigationID + '"></li>');
          } else {
            $(".forward_nav").append('<li class="forward_nav_item" id="forward_nav' + navigationID + '"></li>');
          }
        }
      });

      responsiveResize();

      // reset on page load
      $('html, body').stop().animate({
        scrollTop: $('.forward_wraptopper').scrollTop()
      }, 10);
    });

    // detect resize
    $(window).on('resize', function () {
      responsiveResize();
    });

    // recalculate on device orientation change
    if (window.addEventListener) {
      window.addEventListener("orientationchange", function() {
        setTimeout(function () {
          responsiveResize();
        }, 100);
      });
    } else {
      window.attachEvent("orientationchange", function() {
        setTimeout(function () {
          responsiveResize();
        }, 100);
      });
    }

    // detect device orientation change
    if (window.addEventListener) {
      window.addEventListener("orientationchange", function() {
        responsiveResize();
        var orientation = Math.abs(window.orientation) == 90 ? 'landscape' : 'portrait';
        if ( orientation == 'landscape' ) {
          var deviceWidth = $(window).width();
          phoneOffset = (deviceWidth - $('.forward_mockup_container').height())/2;
          $('.forward_phone').css('top', phoneOffset);
        }
      }, false);
    } else {
      window.attachEvent("orientationchange", function() {
        responsiveResize();
      });
    }

    // globals for main function
    var stop = false;
    var slideOffset = 0;
    var navSlideOffset = 0;
    var contentNumber = ($('.forward_content').length - 1);

    var currentContent = 0;
    var swiped = false;
    var swipedUp = false;
    var swipedDown = false;
    var scrollDistance = 0;
    var navitemScroll = 0;
    var navScrollDistance = 0;
    var currentNav = 0;
    var navDiff = 0;
    var phoneOffset = 0;
    var navMargin = 0;
    var navHeight = 0;
    var navOffset = 0;

    // main function
    function mainScroll(e) {

      if (swiped === true) {
        if (swipedUp === true) {
          var delta = -1;
        } else if (swipedDown === true) {
          var delta = 1;
        }
      } else {
        if (!(window.mozInnerScreenX == null)) {
          var delta = -(e.originalEvent.detail);
        } else {
          var delta = e.originalEvent.wheelDelta;
        }
      }

      if (delta < 0 && stop === false && currentContent >= 0 && currentContent < contentNumber) {
        stop = true;

        if ( currentContent == 1 ) {
          if (!(window.mozInnerScreenX == null) || !jQuery.support.leadingWhitespace) {
            navMargin = (parseInt($('.forward_content_container').offset().left));
          } else {
            navMargin = (parseInt($('.forward_content_container').css('marginLeft')));
          }
        }

        currentContent++;
        scrollDistance = $('#content'+currentContent).offset().top;

        $('html, body').stop().animate({
          scrollTop: scrollDistance
        }, {
          duration: 1500,
          complete: function () {
            stop = false;
          }
        });

      }
      if (delta > 0 && stop === false && currentContent > 0 && currentContent <= contentNumber) {
        stop = true;

        currentContent--;
        scrollDistance = $('#content'+currentContent).offset().top;
        $('html, body').stop().animate({
          scrollTop: scrollDistance
        }, {
          duration: 1500,
          complete: function () {
            stop = false;
          }
        });
      }

      // active here
      console.log(currentContent);
      $.each($('.forward_nav_item'), function () {
        $(this).removeClass('active');
      });
      $('#forward_nav' + currentContent).addClass('active');

      if (currentContent == $('.forward_nav_item').length) {
        var navLast = $('.forward_nav_item').length - 1
        $('#forward_nav' + navLast).addClass('active');
      }

      swiped = false;
      swipedUp = false;
      swipedDown = false;
    }

    // nav function
    function navScroll() {
      navScrollDistance = $('#content'+navitemScroll).offset().top;
      navDiff = Math.abs(currentNav - navitemScroll);
      currentContent = navitemScroll;
      console.log(currentContent);

      if (stop === false) {
        stop = true;
        $('html, body').stop().animate({
          scrollTop: navScrollDistance
        }, {
          duration: 450,
          complete: function () {
            stop = false;
          },
          step: function ( num ) {
            if ( navitemScroll == 0 ) {

            }
          }
        });

        if ( navitemScroll < currentNav && navitemScroll != 0 && currentNav != 0 ) {
          navSlideOffset = Math.abs(slideIncrement*(1 - navitemScroll));
          if ( currentNav == 5 ) {
          }

        } else if ( navitemScroll > currentNav && navitemScroll != 0 && currentNav != 0 ) {
        } else if ( navitemScroll == 0 ) {
        } else if ( currentNav == 0 ) {
          setTimeout(function () {
            if (!(window.mozInnerScreenX == null) || !jQuery.support.leadingWhitespace) {
              navMargin = (parseInt($('.forward_content_container').offset().left));
            } else {
              navMargin = (parseInt($('.forward_content_container').css('marginLeft')));
            }
          }, 450);
        }

        if ( currentNav == 1 && navitemScroll > 1 ) {
          if (!(window.mozInnerScreenX == null) || !jQuery.support.leadingWhitespace) {
            navMargin = (parseInt($('.forward_content_container').offset().left));
          } else {
            navMargin = (parseInt($('.forward_content_container').css('marginLeft')));
          }
        }
      }
    }

    // chrome,ie,opera detect scroll attempt and scroll
    $('html').on('wheel', function (e) {
      mainScroll(e);
    });

    // firefox detect scroll attempt and scroll
    $('html').on('DOMMouseScroll', function (e) {
      mainScroll(e);
    });

    // swipe detect and scroll
    $('body').swipe( {
      swipeUp:function(event, direction, distance, duration, fingerCount) {
        swiped = true;
        swipedUp = true;
        swipedDown = false;
        mainScroll();
      },
      swipeDown:function(event, direction, distance, duration, fingerCount) {
        swiped = true;
        swipedUp = false;
        swipedDown = true;
        mainScroll();
      }
    });

    // nav click and scroll
    $('.forward_nav').delegate('.forward_nav_item', 'click touchstart', function() {
      $.each($('.forward_nav_item'), function () {
        $(this).removeClass('active');
      });
      $(this).addClass('active');

      navitemScroll = $(this).attr('id').replace('forward_nav','');
      navScroll();
    });

    // up down arrow and scroll
    $(document).on("keydown", function(e){
      if(e.keyCode === 38) {
        // up
        swiped = true;
        swipedUp = false;
        swipedDown = true;
        mainScroll();
      } else if (e.keyCode === 40) {
        // down
        swiped = true;
        swipedUp = true;
        swipedDown = false;
        mainScroll();
      }
      e.preventDefault();
    });

    // arrow click and scroll
    $('.arrow').on('click touchstart', function() {
      if ( stop === false ) {
        stop = true;
        var arrowScroll = $(this).attr('id').replace('arrow','');

        if ( arrowScroll == 1 ) {
          if (!(window.mozInnerScreenX == null) || !jQuery.support.leadingWhitespace) {
            navMargin = (parseInt($('.forward_content_container').offset().left));
          } else {
            navMargin = (parseInt($('.forward_content_container').css('marginLeft')));
          }
        }

        arrowScroll++;
        currentContent = arrowScroll;

        console.log(arrowScroll);

        scrollDistance = $('#content'+arrowScroll).offset().top;
        $('html, body').stop().animate({
          scrollTop: scrollDistance
        }, {
          duration: 1000,
          complete: function () {
            stop = false;
          }
        });

        $.each($('.forward_nav_item'), function () {
          $(this).removeClass('active');
        });
        $('#forward_nav' + arrowScroll).addClass('active');
      }
    });
  });

  // animation ------
  function animateFrom(elem, direction) {
    direction = direction || 1;
    var x = 0,
      y = direction * 100;
    if(elem.classList.contains("gs_reveal_fromLeft")) {
      x = -700;
      y = 0;
    } else if (elem.classList.contains("gs_reveal_fromRight")) {
      x = 700;
      y = 0;
    } else if (elem.classList.contains("gs_reveal_fromBottom")) {
      x = 0;
      y = 700;
    }
    elem.style.transform = "translate(" + x + "px, " + y + "px)";
    elem.style.opacity = "0";
    gsap.fromTo(elem, {x: x, y: y, autoAlpha: 0}, {
      duration: 5.25,
      x: 0,
      y: 0,
      autoAlpha: 1,
      ease: "expo",
      overwrite: "auto"
    });
  }

  function hide(elem) {
    gsap.set(elem, {autoAlpha: 0});
  }

  document.addEventListener("DOMContentLoaded", function() {
    gsap.registerPlugin(ScrollTrigger);

    gsap.utils.toArray(".gs_reveal").forEach(function (elem) {
      hide(elem); // assure that the element is hidden when scrolled into view
      ScrollTrigger.create({
        trigger: elem,
        onEnter: function () { animateFrom(elem) },
        onEnterBack: function () { animateFrom(elem, -1) },
        onLeave: function () { hide(elem) } // assure that the element is hidden when scrolled into view
      });
    });
  });
</script>
{% endif %}

</body>
</html>
