.popup-product {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  background-color: $c-black;
  transition: all 1s $ease-out-quart;

  @media (min-width: break($s)) {
    top: 80px;
  }

  .is-popup-product-loaded & {
    z-index: 8;
    opacity: 1;
    visibility: visible;
    background-color: $c-white;
    transition: all 1s $ease-out-quart;
  }
}

.popup-product {
  display: block;
}

.popup-product__inner {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 0;

  @media (min-width: break($s)) {
    padding: 45px 0;
  }

  @media (min-width: break($m)) {
    padding: 55px 0;
  }

  @media (min-width: break($l)) {
    padding: 65px 0;
  }
}
