.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 12px 0 0;
  border: none;
  z-index: 8;
  background: linear-gradient(180deg, rgba(0,0,0,.8), rgba(0,0,0,.1) 80%,transparent);

  @media (min-width: break($s)) {
    padding: 0;
  }

  @media (min-width: break($m)) {
    top: 0;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba($c-black, 0.1);
    transform: translate3d(0, 0, 0);
    transition: transform $speed $ease;
  }

  .is-popup-contact-loaded &,
  .is-popup-product-loaded & {
    background-color: $c-black;
  }
}

.site-header__item--nav {
  display: none;

  @media (min-width: break($l)) {
    display: flex;
  }

  .site-header__logo--center & {
    display: none;
  }
}

.site-header__contact {
  display: none;

  @media (min-width: break($s)) {
    display: block;
    margin-left: 15px;
  }
}

.site-header__order {
  display: none;

  @media (min-width: break($s)) {
    display: block;
    margin-left: 20px;
  }
}

.site-header__mobile-nav {
  background-color: transparent;
}

.mobile-nav-wrapper {
  background-color: $c-black;
}

.mobile-nav__dropdown {
  background-color: $c-black;
}

.mobile-nav__label {
  border: none !important;
}

.mobile-nav__link, .mobile-nav__sublist-link,
.mobile-nav__dropdown .mobile-nav__sublist-header--main-nav-parent {
  @include p2;

  color: $c-white;
}

.site-header__logo {
  margin: 0;
  padding-left: 0;
}

.site-header__grid {
  .site-header__logo--center & {
    @media (min-width: break($s)) {
      justify-content: flex-end;
      height: 80px;
      padding: 20px 0;
    }
  }
}

.site-header__item--logo {
  .site-header__logo--center & {
    flex: 1 0 auto;
    width: 100px;
    height: auto;

    @media (min-width: break($s)) {
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      width: 186px;
      margin: 0 auto;
    }
  }
}

.site-header__logo-link {
  &::before,
  &::after {
    content: none !important;
  }

  svg {
    width: 100px;
    height: auto;
    pointer-events: none;

    @media (min-width: break($s)) {
      width: 186px;
      margin-top: 11px;
    }
  }
}

.site-header__icon {
  padding: 7px;
  color: $c-white !important;

  @media (min-width: break($s)) {
    padding: 10px;
  }
}

.site-nav__link--button {
  text-decoration: inherit;
  margin: 3px 10px;
  padding: 0 !important;
}

.site-nav__link {
  display: inline-block;
  text-decoration: inherit;
  margin: 3px 10px;
  padding: 0 !important;

  .site-nav--has-dropdown & {
    padding-right: 5px;
    svg {
      position: absolute;
      top: 7px;
      right: -12px;
      width: 7px;
      height: auto;
    }
  }
}

.site-nav__link:focus .site-nav__label,
.site-nav__link:not([disabled]):hover .site-nav__label,
.site-nav__link--active .site-nav__label {
  border: none !important;
}

.site-nav__dropdown {
  li {
    padding-bottom: 10px;
  }

  li:last-child {
    padding-bottom: 0;
  }
}

.site-header__search-toggle {
  display: none;
  color: $c-white;
}

.site-header__cart {
  display: none;
}

.js-drawer-open-top .drawer--top {
  display: block !important;
  height: auto !important;
}

.search-bar__interior {
  padding: 0;
}

.search-bar__form {
  padding: 10px 0;
}

.search-form__container {
  padding: 0 10px;
}

.search-bar__input {
  padding-left: 10px;
  color: $c-black;
}

.predictive-search-view-all__button {
  color: $c-black;
}

.predictive-search-title__content {
  color: $c-black;
}

.predictive-search__column {
  color: $c-black;
}

.predictive-search-item__title-text {
  color: $c-black;
}

.search-bar__submit {
  right: 10px;

  @media (min-width: break($s)) {
    right: 0;
  }
}

.announcement-bar {
  width: 100%;
}

.site-header__cart-count {
  color: $c-black;
}
