.cart-popup {
  height: 100%;
  box-shadow: none;

  .cart-popup__close {
    color: $c-black;
  }

  .cart-popup__heading {
    color: $c-black;
  }

  .cart-popup-item__title {
    color: $c-black;
  }

  .product-details {
    color: $c-black;
  }

  .cart-popup-item__quantity {
    color: $c-black;
  }

  .btn--secondary-accent {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 40px;
    line-height: 40px;
    background-color: $c-black !important;
    color: $c-white !important;
  }

  .btn--secondary-accent:not([disabled]):hover {
    border: 1px solid $c-black !important;
    background-color: $c-white !important;
    color: $c-black !important;
  }

  .cart-popup__dismiss-button {
    color: $c-black;

    &:hover {
      color: $c-black;
      opacity: 0.9;
    }
  }
}
.cart-popup-wrapper {
  width: 100%;
  height: 100vh;

  @media (min-width: break($s)) {
    width: 480px;
  }
}

.cart__qty-input {
  height: 40px;
  padding: 0 10px;
  border: $c-border;
}
