.text-input {
  @include p2;

  position: relative;
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 3rem;
}

.text-input__el:focus:not([disabled]) {
  outline: none;

  &::placeholder {
    opacity: 1;
  }

  .user-is-tabbing & {
    ~ .text-input__focus {
      @media (min-width: break($m)) {
        z-index: 1;
        border: $c-border;
      }
    }
  }
}

.text-input__el {
  @include p2;

  height: 4.6rem;
  padding: 1.4rem 0 0;
  width: 100%;
  color: $c-white;
  border-bottom: $c-border-white;
  transition: border $transition-default;

  .non-touch .text-input:not(.text-input--error) &:hover:not([disabled]) {
    @media (min-width: break($s)) {
      border: $c-border-white;
    }
  }

  &::placeholder {
    color: rgba($c-white, 0.5);
    transition: all 0.2s;
    opacity: 0;
  }

  .text-input--error & {
    border: $c-border-red;
  }
}

.text-input__focus {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  border-radius: 5px;
  border: solid 1px transparent;
  transition: border $transition-default;

  @media (min-width: $xs) {
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
  }
}

.text-input__label {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 66.66%;
  color: $c-white;
  transition: all 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;

  input:placeholder-shown ~ & {
    @include p2;
  }

  input:not(:placeholder-shown) ~ &,
  input:focus ~ & {
    font-size: 1.1rem;
    line-height: 2.4rem;
  }
}

.text-input__error {
  position: absolute;
  bottom: -5px;
  left: 0;
  color: $c-red;
  font-size: 1.4rem;
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  transition: opacity $transition-default;

  .text-input--error & {
    opacity: 1;
  }
}
