.forward_wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;

  .forward_content_container {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .forward_content_wrapper {
    width: 100%;
  }
}

//-----------------------------------------------------------------
.hero {
  position: relative;
  width: 100%;
  height: 250px;

  @media (min-width: break($s)) {
    height: 350px;
  }

  @media (min-width: break($m)) {
    height: 400px;
  }
}

.hero__container {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.hero__inner {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}

.hero__image-wrapper {
  @media (max-width: 767px) {
    background-size: cover;
  }

  @media (min-width: break($m)) {
    margin-top: -20px;
  }

  @media (min-width: break($xxl)) {
    width: 80%;
    margin: 0 auto;
  }
  &::before {
    @media (min-width: break($l)) {
      padding-bottom: calc(432 / 765 * 100%);
    }
  }

  .image--contain .image__img {
    @media (max-width: 767px) {
      object-fit: cover;
    }
  }
}


.hero__video video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.hero__scroll {
  display: none;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  z-index: 1;
  cursor: pointer;

  @media (min-width: break($s)) {
    bottom: 40px;
    width: 35px;
    height: 35px;
  }

  @media (min-width: break($m)) {
    width: 50px;
    height: 50px;
  }

  @media (min-width: break($xl)) {
    bottom: 60px;
  }
}

.hero__scroll svg {
  width: 30px;
  height: 30px;
  pointer-events: none;

  @media (min-width: break($s)) {
    width: 35px;
    height: 35px;
  }

  @media (min-width: break($m)) {
    width: 50px;
    height: 50px;
  }
}

.text-scroll__right,
.text-scroll__left {
  display: none;
  position: absolute;
  top: 70px;
  z-index: 5;
  letter-spacing: 12px;

  @media (min-width: break($s)) {
    top: 70px;
  }

  @media (min-width: break($m)) {
    display: block;
    top: 100px;
  }

  @media (min-width: break($l)) {
    top: 300px;
  }

  .space {
    padding-bottom: 15px;
  }

  .template-cart & {
    display: none;
  }
}

.text-scroll__left {
  left: 35px;

  @media (min-width: break($s)) {
    left: 55px;
  }

  @media (min-width: break($m)) {
    left: 60px;
  }

  @media (min-width: break($l)) {
    left: 100px;
  }
}

.text-scroll__right {
  right: 35px;

  @media (min-width: break($s)) {
    right: 55px;
  }

  @media (min-width: break($m)) {
    right: 60px;
  }

  @media (min-width: break($l)) {
    right: 100px;
  }
}
