.text-and-image-second__wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.text-and-image-second__inner {
  flex-direction: column-reverse;

  @media (min-width: break($s)) {
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row-reverse;
    z-index: 3;
  }
}

.text-and-image-second__img {
  width: 100%;
  margin-bottom: 10px;

  @media (min-width: break($s)) {
    width: 60%;
    margin-bottom: 0;
  }

  @media (min-width: break($m)) {
    width: 70%;
  }

  @media (min-width: break($xl)) {
    width: 864px;
  }
}

.text-and-image-second__img-wrapper {
  @media (max-width: break($s)) {
    background-size: contain;
  }

  @media (min-width: break($xl)) {
    width: auto;
    height: auto;
  }

  .image--contain .image__img {
    @media (max-width: break($s)) {
      object-fit: contain;
    }
  }
}

.text-and-image-second__content {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: break($s)) {
    position: absolute;
    right: 5%;
    bottom: 20%;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 280px;
    margin-bottom: 0;
  }

  @media (min-width: break($m)) {
    width: 300px;
  }

  @media (min-width: break($l)) {
    width: 400px;
  }

  @media (min-width: break($xl)) {
    bottom: 30%;
    width: 515px;
  }
}

.text-and-image-second__title {
  margin-bottom: 10px;
  cursor: pointer;
  z-index: 5;

  @media (min-width: break($s)) {
    margin-bottom: 20px;
  }
}
