.text-and-image__wrapper {
  position: relative;
  width: 100%;
  height: 250px;

  @media (min-width: break($s)) {
    height: 350px;
  }

  @media (min-width: break($m)) {
    height: 400px;
  }
}

.text-and-image__container {
  @media (min-width: break($s)) {
    width: 100%;
  }
}

.text-and-image__inner {
  flex-direction: column-reverse;

  @media (min-width: break($s)) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.text-and-image__img-wrapper {
  @media (min-width: break($xxl)) {
    width: 1024px;
    height: auto;
  }

  &::before {
    @media (min-width: break($s)) {
      padding-bottom: calc(432 / 765 * 100%);
    }
  }
}

.text-and-image__img {
  width: 100%;
  margin-bottom: 10px;

  @media (min-width: break($s)) {
    width: 60%;
    margin-bottom: 0;
  }

  @media (min-width: break($m)) {
    width: 70%;
    transform: translateX(510px);
  }
}

.text-and-image__content {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: break($s)) {
    position: absolute;
    top: 10%;
    left: 6%;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 0;
    z-index: 1;
  }

  @media (min-width: break($m)) {
    top: 40%;
    transform: translateX(-400px);
  }

  @media (min-width: break($xl)) {
    width: 515px;
  }
}

.text-and-image__title {
  margin-bottom: 10px;
  cursor: pointer;
  z-index: 5;

  @media (min-width: break($s)) {
    margin-bottom: 20px;
  }
}
