{% include "content-background-second",
  content_id: 'content7',
  arrow_id: 'arrow7',
  class: 'content-background-second',
  image: section.settings.image,
  title: section.settings.title,
  content: section.settings.content
%}
{% schema %}
{
  "class": "content-background-second forward_content_wrapper alternative_bg eight",
  "name": "Background (Layout 8)",
  "settings": [
    {
      "type": "header",
      "content": "Block Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "DESSINER POUR DURER"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>"
    }
  ],
  "presets": [
    {
      "name": "Background (Layout 8)"
    }
  ]
}
{% endschema %}
