{% include "content-background",
  content_id: 'content9',
  arrow_id: 'arrow9',
  class: 'content-background',
  image: section.settings.image,
  title: section.settings.title,
  content: section.settings.content
%}
{% schema %}
{
  "class": "forward_content_wrapper alternative_bg ten",
  "name": "Background (Layout 10)",
  "settings": [
    {
      "type": "header",
      "content": "Block Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "chaque details comptent"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>"
    }
  ],
  "presets": [
    {
      "name": "Background (Layout 10)"
    }
  ]
}
{% endschema %}
