{%- assign MAX_FOOTER_MENUS = 3 -%}
<footer class="footer bg-black forward_content footer_content" id="content12">
  <div class="footer__container container">
      <div class="footer__inner f jcs aic">
        <div class="footer__column-menus f jcs aic relative">
          {%- for i in (1..MAX_FOOTER_MENUS) -%}
            {%- assign menu_setting_handle = 'footer_linklist_' | append: i -%}
            {%- assign menu_title_setting_handle = 'footer_linklist_title_' | append: i -%}
            {%- assign linklist_handle = section.settings[menu_setting_handle] -%}
            {%- if linklist_handle and linklists[linklist_handle].links.size > 0 -%}
              <div class="footer__column-menu">
                <h2 class="footer_column-menu__title footer-heading white">
                  {{ section.settings[menu_title_setting_handle] }}
                </h2>
                <ul class="footer_column-menu__list">
                  {%- for link in linklists[linklist_handle].links -%}
                    <li><a class="p2 white" href="{{ link.url }}">{{ link.title }}</a></li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
          {%- endfor -%}

          <div class="footer__image-pay">
            <div class="creditcards">

                <svg id="amex-light" viewBox="0 16.8 100.1 66.4">
                  <g>
                    <path fill="#eeeeee" d="M99.7,76.6c0,3.7-3,6.6-6.6,6.6H6.6c-3.7,0-6.6-3-6.6-6.6V23.4c0-3.7,3-6.6,6.6-6.6H93c3.7,0,6.6,3,6.6,6.6L99.7,76.6L99.7,76.6z"></path>
                    <g>
                      <g>	<path fill="#4570B7" d="M0.3,47.9h4.8l1.1-2.6h2.4l1.1,2.6h9.4v-2l0.8,2h4.9l0.8-2v2H49v-4.3h0.5c0.3,0,0.4,0,0.4,0.6v3.7H62v-1c1,0.5,2.5,1,4.5,1h5.1l1.1-2.6h2.4l1.1,2.6H86v-2.5l1.5,2.5h7.9V31.5h-7.8v1.9l-1.1-1.9h-8v1.9l-1-1.9H66.7c-1.8,0-3.4,0.3-4.7,1v-1h-7.4v1c-0.8-0.7-1.9-1-3.2-1H24.2l-1.8,4.2l-1.9-4.2h-8.6v1.9L11,31.5H3.7l-3.4,7.8L0.3,47.9L0.3,47.9z M30.5,45.6h-2.9v-9.2l-4.1,9.2H21l-4-9.2v9.2h-5.7l-1-2.6H4.4l-1.1,2.6h-3l5-11.7h4.2L14.3,45V33.9h4.6l3.7,8l3.4-8h4.7L30.5,45.6L30.5,45.6z M42,45.6h-9.4V33.9H42v2.4h-6.6v2.1h6.4v2.4h-6.4v2.3H42V45.6z M55.2,37c0,1.9-1.2,2.8-2,3.1c0.6,0.2,1.1,0.6,1.4,1c0.4,0.6,0.5,1.1,0.5,2.2v2.3h-2.8v-1.5c0-0.7,0.1-1.7-0.4-2.3c-0.4-0.4-1-0.5-2-0.5h-3v4.3h-2.8V33.9h6.4c1.4,0,2.5,0,3.4,0.6C54.7,34.9,55.2,35.7,55.2,37z M59.7,45.6h-2.9V33.9h2.9V45.6z M92.9,45.6h-4l-5.3-8.8v8.8h-5.7L76.8,43H71l-1.1,2.6h-3.3c-1.4,0-3.1-0.3-4.1-1.3S61,42,61,39.8c0-1.7,0.3-3.3,1.5-4.6c0.9-0.9,2.3-1.4,4.3-1.4h2.7v2.5h-2.7c-1,0-1.6,0.2-2.2,0.7c-0.5,0.5-0.8,1.4-0.8,2.7s0.2,2.2,0.8,2.8c0.4,0.5,1.2,0.6,2,0.6h1.3l4-9.2H76L80.7,45V33.9H85l5,8.1v-8.2h2.9V45.6L92.9,45.6z M51.5,38.7c-0.4,0.2-0.8,0.2-1.4,0.2h-3.4v-2.6h3.5c0.5,0,1,0,1.3,0.2c0.4,0.2,0.6,0.5,0.6,1C52.1,38.1,51.9,38.5,51.5,38.7z M75.8,40.5l-1.9-4.7L72,40.5H75.8z M9.3,40.5l-1.9-4.7l-1.9,4.7"></path>
                        <path fill="#4570B7" d="M100,56.5h-5.1c-0.5,0-0.8,0-1.1,0.2c-0.3,0.2-0.4,0.5-0.4,0.8c0,0.4,0.2,0.7,0.6,0.9c0.3,0.1,0.6,0.1,1.1,0.1h1.5c1.5,0,2.6,0.3,3.2,0.9c0.1,0.1,0.2,0.2,0.3,0.3 M100,64.3c-0.7,1-2,1.5-3.8,1.5h-5.4v-2.5h5.4c0.5,0,0.9-0.1,1.1-0.3s0.3-0.4,0.3-0.8c0-0.3-0.1-0.6-0.3-0.8c-0.2-0.2-0.5-0.3-1-0.3c-2.6-0.1-5.9,0.1-5.9-3.6c0-1.7,1.1-3.5,4-3.5h5.6v-2.3h-5.2c-1.6,0-2.7,0.4-3.5,1v-1h-7.7c-1.2,0-2.7,0.3-3.3,1v-1H66.6v1c-1.1-0.8-2.9-1-3.8-1h-9v1c-0.9-0.8-2.8-1-4-1H39.7l-2.3,2.5l-2.2-2.5H20.1v16.4h14.8l2.4-2.5l2.2,2.5h9.1v-3.9h0.9c1.2,0,2.6,0,3.9-0.6V68H61v-4.3h0.4c0.5,0,0.5,0,0.5,0.5V68h22.9c1.5,0,3-0.4,3.8-1v1h7.3c1.5,0,3-0.2,4.1-0.8L100,64.3L100,64.3z M88.8,59.6c0.5,0.6,0.8,1.3,0.8,2.5c0,2.5-1.6,3.7-4.4,3.7h-5.5v-2.5h5.4c0.5,0,0.9-0.1,1.1-0.3s0.3-0.4,0.3-0.8c0-0.3-0.1-0.6-0.3-0.8c-0.2-0.2-0.5-0.3-1-0.3c-2.6-0.1-5.9,0.1-5.9-3.6c0-1.7,1.1-3.5,4-3.5h5.6v2.5h-5.1c-0.5,0-0.8,0-1.1,0.2c-0.3,0.2-0.4,0.5-0.4,0.8c0,0.4,0.3,0.7,0.6,0.9c0.3,0.1,0.6,0.1,1.1,0.1h1.5C87.1,58.7,88.2,58.9,88.8,59.6z M65.2,60.3c0.6,0.2,1.1,0.6,1.4,1c0.4,0.6,0.5,1.1,0.5,2.1v2.3h-2.8v-1.5c0-0.7,0.1-1.8-0.5-2.3c-0.4-0.4-1-0.5-2.1-0.5h-3v4.3h-2.8V54h6.5c1.4,0,2.5,0.1,3.4,0.6s1.4,1.3,1.4,2.6C67.2,59.1,66,60,65.2,60.3z M68.8,54h9.4v2.4h-6.6v2.1H78V61h-6.4v2.3h6.6v2.4h-9.4C68.8,65.7,68.8,54,68.8,54z M54.6,57.9c0,3.3-2.4,3.9-4.9,3.9h-3.5v3.9h-5.4l-3.5-3.9l-3.6,3.9H22.6V54h11.3l3.4,3.8l3.6-3.8h9C52.1,54,54.6,54.7,54.6,57.9z M49.8,59.5h-3.6v-3h3.7c1,0,1.7,0.4,1.7,1.4C51.6,58.9,50.9,59.5,49.8,59.5z M43.4,64.7l-4.3-4.8l4.3-4.6V64.7z M32.3,63.3h-6.9V61h6.2v-2.4h-6.2v-2.1h7l3.1,3.4L32.3,63.3z M63.5,58.9c-0.4,0.2-0.8,0.2-1.4,0.2h-3.4v-2.6h3.5c0.5,0,1,0,1.3,0.2c0.4,0.2,0.6,0.6,0.6,1.1S63.9,58.6,63.5,58.9z"></path>
                      </g>
                    </g>
                  </g>
                </svg>

              <svg id="discover-light" viewBox="0 16.6 100 66.8">
                <g>
                  <path fill="#EBEDED" d="M99.9,76.6c0,3.7-3,6.7-6.7,6.7H6.7c-3.7,0-6.7-3-6.7-6.7V23.3c0-3.7,3-6.7,6.7-6.7h86.6
        c3.7,0,6.7,3,6.7,6.7L99.9,76.6L99.9,76.6z"></path>
                  <path fill="#E57E25" d="M93.4,83.2c3.7,0,6.5-2.6,6.5-6.3V57.2c0,0-25.6,18.1-72.8,26H93.4z"></path>
                  <path opacity="0.1" fill="#231F20" enable-background="new    " d="M100,57.2c0,0-25.7,18.3-72.9,26.2C83.4,83.4,100,57.2,100,57.2z"></path>
                  <g>
                    <path fill="#231F20" d="M10.7,36.7h-4v13.9h4c2.1,0,3.6-0.5,5-1.6c1.6-1.3,2.5-3.3,2.5-5.4C18.1,39.5,15.1,36.7,10.7,36.7zM13.8,47.1c-0.9,0.8-2,1.1-3.7,1.1H9.4V39h0.7c1.8,0,2.8,0.3,3.7,1.1s1.5,2.1,1.5,3.5C15.3,45,14.8,46.3,13.8,47.1z"></path>
                    <rect x="19.4" y="36.7" fill="#231F20" width="2.7" height="13.9"></rect>
                    <path fill="#231F20" d="M28.8,42c-1.6-0.6-2.1-1-2.1-1.8c0-0.9,0.9-1.5,2-1.5c0.8,0,1.5,0.3,2.2,1.1l1.4-1.9
            c-1.2-1-2.6-1.5-4.1-1.5c-2.5,0-4.3,1.7-4.3,4c0,1.9,0.9,2.9,3.4,3.8c1.1,0.4,1.6,0.6,1.9,0.8c0.5,0.4,0.8,0.9,0.8,1.4c0,1.1-0.9,2-2.1,2c-1.3,0-2.3-0.6-3-1.9l-1.8,1.7c1.3,1.8,2.8,2.7,4.8,2.7c2.8,0,4.8-1.9,4.8-4.6C32.8,44.2,31.9,43.1,28.8,42z"></path>
                    <path fill="#231F20" d="M33.6,43.6c0,4.1,3.2,7.3,7.4,7.3c1.2,0,2.2-0.2,3.4-0.8v-3.2c-1.1,1.1-2.1,1.5-3.3,1.5c-2.7,0-4.7-2-4.7-4.8c0-2.7,2-4.8,4.6-4.8c1.3,0,2.3,0.5,3.4,1.6v-3.2c-1.2-0.6-2.2-0.9-3.3-0.9C36.9,36.3,33.6,39.6,33.6,43.6z"></path>
                    <polygon fill="#231F20" points="66,46 62.3,36.7 59.3,36.7 65.2,51 66.7,51 72.7,36.7 69.8,36.7"></polygon>
                    <polygon fill="#231F20" points="73.9,50.6 81.6,50.6 81.6,48.2 76.6,48.2 76.6,44.5 81.5,44.5 81.5,42.1 76.6,42.1 76.6,39 81.6,39 81.6,36.7 73.9,36.7"></polygon>
                    <path fill="#231F20" d="M92.4,40.8c0-2.6-1.8-4.1-4.9-4.1h-4v13.9h2.7V45h0.4l3.8,5.6h3.3l-4.4-5.9C91.3,44.3,92.4,42.9,92.4,40.8z M87,43.1h-0.8v-4.2H87c1.7,0,2.6,0.7,2.6,2.1C89.6,42.3,88.7,43.1,87,43.1z"></path>
                    <circle fill="#E57E25" cx="52.7" cy="43.7" r="7.4"></circle>
                  </g>
                </g>
              </svg>

                <svg id="mc-light" viewBox="0 16.6 100.1 66.8">
                  <g>
                    <path fill="#719ABF" d="M100,76.7c0,3.7-3,6.7-6.7,6.7H6.7c-3.7,0-6.7-3-6.7-6.7V23.3c0-3.7,3-6.7,6.7-6.7h86.7
          c3.7,0,6.7,3,6.7,6.7L100,76.7L100,76.7z"></path>
                    <g>
                      <circle fill="#E64C3C" cx="37.2" cy="49.9" r="19.5"></circle>
                      <circle fill="#F0C419" cx="63.5" cy="49.9" r="19.5"></circle>
                      <path fill="#F29C1F" d="M44,49.9c0,5.7,2.5,10.9,6.4,14.5c3.9-3.6,6.4-8.7,6.4-14.5S54.3,39,50.4,35.4C46.4,39,44,44.2,44,49.9z"></path>
                    </g>
                    <g>
                      <path fill="#FFFFFF" d="M42.1,56.5l0.3-2.4c-0.2,0-0.5,0.1-0.7,0.1c-1,0-1.1-0.5-1-0.9l0.8-4.8H43l0.4-2.6H42l0.3-1.6h-2.8c-0.1,0.1-1.6,9.2-1.6,10.3c0,1.6,0.9,2.4,2.2,2.4C41.1,56.9,41.8,56.6,42.1,56.5z"></path>
                      <path fill="#FFFFFF" d="M43,52c0,3.9,2.6,4.9,4.8,4.9c2,0,2.9-0.5,2.9-0.5l0.5-2.7c0,0-1.6,0.7-3,0.7c-3,0-2.5-2.2-2.5-2.2h5.7c0,0,0.4-1.8,0.4-2.5c0-1.8-0.9-4.1-4-4.1C45.1,45.6,43,48.6,43,52z M47.9,48.1c1.6,0,1.3,1.8,1.3,1.9h-3.1C46.1,49.8,46.4,48.1,47.9,48.1z"></path>
                      <path fill="#FFFFFF" d="M65.5,56.5l0.5-3c0,0-1.4,0.7-2.3,0.7c-2,0-2.8-1.5-2.8-3.1c0-3.3,1.7-5.1,3.6-5.1c1.4,0,2.6,0.8,2.6,0.8l0.5-2.9c0,0-1.7-0.7-3.1-0.7c-3.2,0-6.3,2.8-6.3,8c0,3.5,1.7,5.8,5,5.8C64,56.9,65.5,56.5,65.5,56.5z"></path>
                      <path fill="#FFFFFF" d="M26.8,45.6c-1.9,0-3.4,0.6-3.4,0.6L23,48.6c0,0,1.2-0.5,3-0.5c1,0,1.8,0.1,1.8,1c0,0.5-0.1,0.7-0.1,0.7s-0.8-0.1-1.2-0.1c-2.4,0-4.9,1-4.9,4.1c0,2.4,1.7,3,2.7,3c2,0,2.8-1.3,2.9-1.3l-0.1,1.1h2.5l1.1-7.7C30.6,45.7,27.8,45.6,26.8,45.6z M27.4,51.9c0.1,0.5-0.3,2.7-2,2.7c-0.9,0-1.1-0.7-1.1-1.1c0-0.8,0.4-1.7,2.5-1.7C27.3,51.8,27.3,51.9,27.4,51.9z"></path>
                      <path fill="#FFFFFF" d="M33.2,56.8c0.6,0,4.2,0.2,4.2-3.5c0-3.5-3.3-2.8-3.3-4.2c0-0.7,0.5-0.9,1.5-0.9c0.4,0,1.9,0.1,1.9,0.1l0.4-2.5c0,0-1-0.2-2.6-0.2c-2.1,0-4.1,0.8-4.1,3.6c0,3.2,3.5,2.9,3.5,4.2c0,0.9-1,1-1.7,1c-1.3,0-2.5-0.4-2.5-0.4l-0.4,2.4C30.2,56.5,30.9,56.8,33.2,56.8z"></path>
                      <path fill="#FFFFFF" d="M88.6,43.4L88,47.1c0,0-1-1.4-2.7-1.4c-2.5,0-4.7,3.1-4.7,6.6c0,2.3,1.1,4.5,3.5,4.5c1.7,0,2.6-1.2,2.6-1.2l-0.1,1h2.7l2.1-13.2L88.6,43.4z M87.3,50.7c0,1.5-0.7,3.4-2.2,3.4c-1,0-1.5-0.8-1.5-2.2c0-2.2,1-3.6,2.2-3.6C86.8,48.4,87.3,49.1,87.3,50.7z"></path>
                      <path fill="#FFFFFF" d="M11.8,56.7l1.7-10l0.2,10h1.9l3.6-10l-1.6,10h2.8l2.2-13.3h-4.4l-2.7,8.1l-0.1-8.1h-4.1L9.1,56.7H11.8z"></path>
                      <path fill="#FFFFFF" d="M54.6,56.7c0.8-4.6,1-8.3,2.9-7.7c0.3-1.8,0.7-2.5,1-3.2c0,0-0.2,0-0.5,0c-1.2,0-2.2,1.7-2.2,1.7l0.2-1.6h-2.6l-1.7,10.8H54.6z"></path>
                      <g transform="translate(847.0062,0)">
                        <path fill="#FFFFFF" d="M-775.1,45.6c-1.9,0-3.4,0.6-3.4,0.6l-0.4,2.4c0,0,1.2-0.5,3-0.5c1,0,1.8,0.1,1.8,1	c0,0.5-0.1,0.7-0.1,0.7s-0.8-0.1-1.2-0.1c-2.4,0-4.9,1-4.9,4.1c0,2.4,1.7,3,2.7,3c2,0,2.8-1.3,2.9-1.3l-0.1,1.1c0,0,2.4,0,2.5,0	l1.1-7.7C-771.3,45.7-774.1,45.6-775.1,45.6z M-774.5,51.9c0.1,0.5-0.3,2.7-2,2.7c-0.9,0-1.1-0.7-1.1-1.1c0-0.8,0.4-1.7,2.5-1.7	C-774.6,51.8-774.6,51.9-774.5,51.9z"></path>
                      </g>
                      <g transform="translate(442.2857,0)">
                        <path fill="#FFFFFF" d="M-364.3,56.7c0.8-4.6,1-8.3,2.9-7.7c0.3-1.8,0.7-2.5,1-3.2c0,0-0.2,0-0.5,0	c-1.2,0-2.2,1.7-2.2,1.7l0.2-1.6h-2.6l-1.7,10.8H-364.3z"></path>
                      </g>
                    </g>
                  </g>
                </svg>

                <svg id="paypal-light" viewBox="0 16.6 100.1 66.8">
                  <g>
                    <g>
                      <path fill="#ECF0F1" d="M100,76.7c0,3.7-3,6.7-6.7,6.7H6.7c-3.7,0-6.7-3-6.7-6.7V23.3c0-3.7,3-6.7,6.7-6.7h86.7c3.7,0,6.7,3,6.7,6.7L100,76.7L100,76.7z"></path>
                    </g>
                    <g>
                      <path fill="#34679A" d="M77.6,52.5c-0.3,0.2-0.6,0.4-1,0.5c-0.5,0.2-0.9,0.3-1.3,0.3c-0.6,0-1.1-0.1-1.4-0.3s-0.5-0.5-0.5-0.9c0-0.5,0.1-0.9,0.4-1.2c0.2-0.3,0.6-0.5,1.1-0.7c0.4-0.2,1-0.3,1.6-0.4c0.6-0.1,1.7-0.2,1.8-0.2c0.1,0,0.2-0.1,0.2,0.3c0,0.2-0.4,1.5-0.5,2.1C77.9,52.2,77.7,52.5,77.6,52.5z M82,43.2c-0.9-0.5-2.4-0.8-4.4-0.8c-1,0-2,0.1-3,0.2c-0.7,0.1-0.8,0.1-1.3,0.2c-0.9,0.2-1.1,1.1-1.1,1.1l-0.3,1.2c-0.2,0.8,0.3,0.8,0.5,0.7c0.4-0.1,0.6-0.2,1.5-0.4c0.8-0.2,1.7-0.3,2.3-0.3c1,0,1.7,0.1,2.2,0.3s0.8,0.6,0.8,1.1c0,0.1,0,0.2,0,0.4c0,0.1-0.1,0.2-0.4,0.2c-1.4,0.1-2.4,0.2-3.7,0.4c-1.2,0.2-2.3,0.5-3.1,0.9c-0.9,0.4-1.6,1-2.1,1.7s-0.7,1.6-0.7,2.6s0.3,1.7,1,2.3s1.6,0.9,2.6,0.9c0.7,0,1.2-0.1,1.6-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.3-0.1,0.7-0.3,1-0.6c0.4-0.2,0.6-0.4,0.9-0.6l0,0l-0.1,0.4l0,0l0,0c-0.1,0.5,0.2,0.9,0.7,0.9l0,0l0,0l0,0c0.3,0,1.4,0,1.9,0h0.4l0,0c0.5-0.1,1-0.5,1.1-0.9l1.8-7.8c0-0.2,0.1-0.4,0.1-0.6c0-0.2,0-0.4,0-0.6C83.4,44.6,82.9,43.7,82,43.2"></path>
                      <path fill="#1D3764" d="M50.8,42.6c-0.5,0-1.2,0.4-1.6,0.9c0,0-3.6,6.1-3.9,6.7c-0.2,0.3-0.4,0.1-0.4,0s-1.1-6.7-1.1-6.7c-0.1-0.5-0.7-1-1.4-1h-2.2c-0.5,0-0.9,0.4-0.7,0.9c0,0,1.7,9.6,2,11.9c0.2,1.2,0,1.5,0,1.5l-2.2,3.8c-0.3,0.5-0.1,0.9,0.4,0.9h2.6c0.5,0,1.2-0.4,1.6-0.9L53.7,44c0,0,0.9-1.4,0.1-1.4C53.2,42.6,50.8,42.6,50.8,42.6"></path>
                      <path fill="#1D3764" d="M25,41c-0.3-0.6-0.8-1.1-1.4-1.5s-1.3-0.6-2.2-0.8c-0.8-0.1-1.8-0.2-2.9-0.2h-5.2c-0.5,0-1.1,0.4-1.2,0.9L8.7,54.7c-0.1,0.5,0.2,0.9,0.8,0.9H12c0.5,0,1.1-0.4,1.2-0.9L14,51c0.1-0.5,0.6-0.9,1.2-0.9h0.7c3,0,5.4-0.6,7.1-1.9c1.7-1.2,2.5-2.9,2.5-4.9C25.5,42.4,25.3,41.6,25,41z M19.6,46c-0.7,0.5-1.8,0.8-3.1,0.8h-0.6c-0.5,0-0.9-0.4-0.8-0.9l0.7-3.2c0.1-0.5,0.6-0.9,1.2-0.9h0.8c0.9,0,1.7,0.2,2.2,0.5s0.7,0.8,0.7,1.5C20.8,44.7,20.4,45.4,19.6,46z"></path>
                      <path fill="#34679A" d="M70,41.1c-0.3-0.6-0.8-1.1-1.4-1.5s-1.3-0.6-2.2-0.8c-0.8-0.1-1.8-0.2-2.9-0.2h-5.2c-0.5,0-1.1,0.4-1.2,0.9l-3.5,15.2c-0.1,0.5,0.2,0.9,0.7,0.9h2.5c0.5,0,1.1-0.4,1.2-0.9l0.8-3.7c0.1-0.5,0.7-0.9,1.2-0.9h0.7c3,0,5.4-0.6,7.1-1.9c1.7-1.2,2.5-2.9,2.5-4.9C70.5,42.4,70.3,41.7,70,41.1 M64.7,46.1c-0.7,0.5-1.8,0.8-3.1,0.8H61c-0.5,0-0.9-0.4-0.8-0.9l0.7-3.2c0.1-0.5,0.7-0.9,1.2-0.9h0.8c1,0,1.7,0.2,2.2,0.5s0.7,0.8,0.7,1.5C65.8,44.7,65.4,45.5,64.7,46.1"></path>
                      <path fill="#1D3764" d="M32.6,52.5c-0.3,0.2-0.6,0.4-1,0.5c-0.5,0.2-0.9,0.3-1.3,0.3c-0.6,0-1.1-0.1-1.4-0.3s-0.5-0.5-0.5-0.9c0-0.5,0.1-0.9,0.4-1.2c0.2-0.3,0.6-0.5,1.1-0.7c0.4-0.2,1-0.3,1.6-0.4c0.6-0.1,1.7-0.2,1.8-0.2s0.2-0.1,0.2,0.3c0,0.2-0.4,1.5-0.5,2.1C32.9,52.2,32.7,52.5,32.6,52.5z M37,43.2c-0.9-0.5-2.4-0.8-4.4-0.8c-1,0-2,0.1-3,0.2c-0.7,0.1-0.8,0.1-1.3,0.2c-0.9,0.2-1.1,1.1-1.1,1.1l-0.3,1.2c-0.2,0.8,0.3,0.8,0.5,0.7c0.4-0.1,0.6-0.2,1.5-0.4c0.8-0.2,1.7-0.3,2.3-0.3c1,0,1.7,0.1,2.2,0.3s0.7,0.6,0.7,1.1c0,0.1,0,0.2,0,0.4c0,0.1-0.1,0.2-0.4,0.2c-1.4,0.1-2.4,0.2-3.7,0.4c-1.2,0.2-2.3,0.5-3.1,0.9c-0.9,0.4-1.6,1-2.1,1.7s-0.7,1.6-0.7,2.6s0.3,1.7,1,2.3s1.6,0.9,2.6,0.9c0.7,0,1.2-0.1,1.6-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.3-0.1,0.7-0.3,1-0.6c0.4-0.2,0.6-0.4,0.9-0.6l0,0l-0.1,0.4l0,0l0,0c-0.1,0.5,0.2,0.9,0.7,0.9l0,0l0,0l0,0c0.3,0,1.4,0,1.9,0h0.4l0,0c0.5-0.1,1-0.5,1.1-0.9l1.8-7.8c0-0.2,0.1-0.4,0.1-0.6c0-0.2,0.1-0.5,0-0.6C38.4,44.6,37.9,43.7,37,43.2"></path>
                      <path fill="#34679A" d="M90.5,38.7h-2.2l0,0l0,0c-0.5,0-1,0.4-1.2,0.9c0,0,0,0,0,0.1c0,0-0.1,0.2-0.1,0.7l-3,13.8c-0.1,0.3-0.1,0.5-0.1,0.6l0,0c-0.1,0.5,0.2,0.9,0.7,0.9l0,0h2.3c0.5,0,1-0.4,1.2-0.9c0,0,0,0,0-0.1l3.3-15l0,0C91.4,39.2,91.1,38.7,90.5,38.7"></path>
                    </g>
                  </g>
                </svg>

                <svg id="visa-light" viewBox="0 16.6 100.1 66.8">
                  <g>
                    <path fill="#EBEDED" d="M100,76.7c0,3.7-3,6.7-6.7,6.7H6.7c-3.7,0-6.7-3-6.7-6.7V23.3c0-3.7,3-6.7,6.7-6.7h86.7
              c3.7,0,6.7,3,6.7,6.7L100,76.7L100,76.7z"></path>
                    <path fill="#0556A3" d="M93.3,16.7H6.6c-3.7,0-6.6,3-6.6,6.7v4.7h100v-4.7C100,19.7,97,16.7,93.3,16.7z"></path>
                    <path fill="#F29C1F" d="M93.3,83.3H6.6c-3.7,0-6.6-3-6.6-6.7v-4.7h100v4.7C100,80.4,97,83.3,93.3,83.3z"></path>
                    <g>
                      <polyline fill="#2756A6" points="39.8,60.6 43.3,39 48.9,39 45.4,60.6 39.8,60.6 		"></polyline>
                      <path fill="#2756A6" d="M65.6,39.6c-1.1-0.4-2.8-0.9-5-0.9c-5.5,0-9.4,2.9-9.4,7.1c0,3.1,2.8,4.8,4.9,5.9c2.2,1.1,2.9,1.7,2.9,2.7c0,1.4-1.7,2.1-3.3,2.1c-2.2,0-3.4-0.3-5.2-1.1l-0.7-0.3L49,59.9c1.3,0.6,3.7,1.1,6.2,1.1c5.8,0,9.6-2.9,9.7-7.4c0-2.5-1.5-4.3-4.7-5.9c-1.9-1-3.1-1.7-3.1-2.7c0-0.9,1-1.9,3.2-1.9c1.8,0,3.1,0.4,4.2,0.8l0.5,0.2L65.6,39.6"></path>
                      <path fill="#2756A6" d="M79.8,39.1h-4.3c-1.3,0-2.3,0.4-2.9,1.8l-8.3,19.7h5.8c0,0,1-2.7,1.2-3.2c0.6,0,6.3,0,7.1,0c0.2,0.8,0.7,3.2,0.7,3.2h5.2L79.8,39.1 M73,52.9c0.5-1.2,2.2-6,2.2-6c0,0.1,0.5-1.2,0.7-2.1l0.4,1.9c0,0,1.1,5.1,1.3,6.2C76.7,52.9,74.1,52.9,73,52.9z"></path>
                      <path fill="#2756A6" d="M35.2,39.1l-5.4,14.7l-0.6-3c-1-3.4-4.2-7.2-7.7-9l5,18.8h5.9l8.8-21.5H35.2"></path>
                      <path fill="#F29C1F" d="M24.7,39h-9l-0.1,0.4c7,1.8,11.6,6.1,13.5,11.3l-1.9-9.9C26.8,39.5,25.9,39.1,24.7,39"></path>
                    </g>
                  </g>
                </svg>

              </div>
            </div>
        </div>

        <div class="footer__column-newsletter">
          <div class="footer__newsletter">
            {%- assign formId = 'ContactFooter' -%}
            {% form 'customer', id: formId, novalidate: 'novalidate' %}
              {%- if form.posted_successfully? -%}
                <p class="form-message form-message--success p2 green" tabindex="-1" data-form-status>
                  {{ 'general.newsletter_form.confirmation' | t }}
                </p>
              {%- endif -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <h4 class="footer-heading white footer__newsletter-title">{{ 'general.newsletter_form.newsletter_title' | t }}</h4>
              <div class="p2 white footer__newsletter-content">{{ 'general.newsletter_form.newsletter_content' | t }}</div>
              <div class="input-group {% if form.errors %} input-group--error{% endif %}">
                <input type="email"
                       name="contact[email]"
                       id="{{ formId }}-email"
                       class="p2 white input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
                       value="{{ form.email }}"
                       placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                       aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                       aria-required="true"
                       required
                       autocorrect="off"
                       autocapitalize="off"
                  {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                data-form-status
                  {% endif %}>
                <span class="input-group__btn">
                    <button type="submit" class="button button--border newsletter__submit" name="commit" >
                      <span class="newsletter__submit-text--large p2 white">{{ 'general.newsletter_form.submit' | t }}</span>
                    </button>
                  </span>
              </div>
              {% if form.errors contains 'email' %}
                <span id="{{ formId }}-email-error" class="input-error-message p2 red">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% include 'icon-error' %}
                    <span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                  </span>
              {% endif %}
            {% endform %}
          </div>

          {%- capture social_list_items -%}
          {%- assign social_accounts = 'Facebook, Instagram, Twitter, Linkedin' | split: ', ' -%}
            {%- for social in social_accounts -%}
              {%- assign social_handle = social | handleize -%}
              {%- capture social_link --%}social_{{ social_handle }}_link{%- endcapture -%}
              {%- capture social_icon -%}icon-{{ social_handle }}{%- endcapture -%}
              {%- if section.settings[social_link] != blank -%}{%- endif -%}
              <li class="footer__social-item f jcc aic {{ social_icon }}">
                <a class="footer__social-item-link f jcc aic white" target="_blank" href="{{ section.settings[social_link] }}">
                  {%- include 'icon' with social_icon -%}
                  <span class="icon-fallback-text">{{ social }}</span>
                </a>
              </li>

            {%- endfor -%}
          {%- endcapture -%}
          {%- if social_list_items -%}
            <div class="footer__social-list">
              <ul class="footer__social-list-inner f jcs aic">
                {{ social_list_items }}
              </ul>
            </div>
          {%- endif -%}

        </div>

      </div>
    </div>
</footer>

{% schema %}
{
  "class": "forward_content_wrapper forward_footer",
  "name": "Footer Layout",
  "settings": [
    {
      "type": "header",
      "content": "Menus"
    },
    {
      "type": "text",
      "id": "footer_linklist_title_1",
      "label": "First Menu Title",
      "default": "Croizé."
    },
    {
      "type": "link_list",
      "id": "footer_linklist_1",
      "label": "First Menu"
    },
    {
      "type": "text",
      "id": "footer_linklist_title_2",
      "label": "Second Menu Title",
      "default": "Vos questions."
    },
    {
      "type": "link_list",
      "id": "footer_linklist_2",
      "label": "Second Menu"
    },
    {
      "type": "text",
      "id": "footer_linklist_title_3",
      "label": "Second Menu Title",
      "default": "Légal."
    },
    {
      "type": "link_list",
      "id": "footer_linklist_3",
      "label": "Third Menu"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "info": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
      "default": "Newsletter"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Inscrivez-vous avec votre adresse e-mail pour découvrir notre premier modèle. "
    },
    {
      "type": "text",
      "id": "facebook",
      "label": "Facebook",
      "default": "https://www.facebook.com/"
    },
    {
      "type": "text",
      "id": "instagram",
      "label": "Instagram",
      "default": "https://www.instagram.com/"
    },
    {
      "type": "text",
      "id": "twitter",
      "label": "Twitter",
      "default": "https://twitter.com/"
    },
    {
      "type": "text",
      "id": "linkedin",
      "label": "Linkedin",
      "default": "https://www.linkedin.com/"
    }
  ]
}
{% endschema %}
