{% include "four-up-copy"
  content_id: 'content4',
  arrow_id: 'arrow4',
  class: 'four-up--home four-up--two',
  title_second: section.settings.title_second,
  content_second: section.settings.content_second,
  image_second: section.settings.image_second
%}
{% schema %}
{
  "class": "forward_content_wrapper alternative_bg five",
  "name": "Two Up 2 (Layout 5)",
  "settings": [
    {
      "type": "header",
      "content": "Block Content"
    },
    {
      "type": "header",
      "content": "Block Content"
    },
    {
      "type": "image_picker",
      "id": "image_second",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_second",
      "label": "Title",
      "default": "micro-rotor monobloc"
    },
    {
      "type": "richtext",
      "id": "content_second",
      "label": "Content",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. RisuSSs ultricies tristique nulla aliquet enim tortor at auctor.</p>"
    }
  ],
  "presets": [
    {
      "name": "Two Up 2 (Layout 4)"
    }
  ]
}
{% endschema %}
