{% include "four-up",
  content_id: 'content3',
  arrow_id: 'arrow3',
  class: 'four-up--home four-up--one',
  title_first: section.settings.title_first,
  content_first: section.settings.content_first,
  image_first: section.settings.image_first,
  title_second: section.settings.title_second,
  content_second: section.settings.content_second,
  image_second: section.settings.image_second
%}
{% schema %}
{
  "class": "forward_content_wrapper alternative_bg fourth",
  "name": "Two Up (Layout 4)",
  "settings": [
    {
      "type": "header",
      "content": "Block Content"
    },
    {
      "type": "image_picker",
      "id": "image_first",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_first",
      "label": "Title",
      "default": "caractéristiques du mouvement"
    },
    {
      "type": "richtext",
      "id": "content_first",
      "label": "Content",
      "default": "<p>Diamètre du mouvement : 33,00 mm</p><p>Épaisseur : 2,60 mm</p><p>Nombre de rubis : 29</p><p>Arbre de barillet : acier AP 20</p><p>Balancier : en Glucydur®, à 4 bras, moment d’inertie 5,75 mg•cm2 , angle de levée 53°</p><p>Fréquence : 21’600 alternances par heure (3 Hz)</p><p>Spiral : Nivaflex®</p><p>Dispositif antichoc : INCABLOC 908.22.211.100 (transparent)</p><p>Pierres de la roue d’échappement : Rubifix</p>"
    },
    {
      "type": "header",
      "content": "Block Content"
    },
    {
      "type": "image_picker",
      "id": "image_second",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_second",
      "label": "Title",
      "default": "micro-rotor monobloc"
    },
    {
      "type": "richtext",
      "id": "content_second",
      "label": "Content",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. RisuSSs ultricies tristique nulla aliquet enim tortor at auctor.</p>"
    }
  ],
  "presets": [
    {
      "name": "Two Up (Layout 4)"
    }
  ]
}
{% endschema %}
