{% include "hero",
  content_id: 'content0',
  arrow_id: 'arrow0',
  hero_type: section.settings.hero_type,
  image: section.settings.image,
  video: section.settings.video,
  text_left: section.settings.text_left,
  text_right: section.settings.text_right
%}
{% schema %}
{
  "class": "forward_content_wrapper alternative_bg first",
  "name": "Hero (Layout 1)",
  "settings": [
    {
      "type": "select",
      "id": "hero_type",
      "label": "Type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "video",
      "label": "Video Mp4 URL"
    },
    {
      "type": "text",
      "id": "text_left",
      "label": "Text Left",
      "default": "26 grammes"
    },
    {
      "type": "text",
      "id": "text_right",
      "label": "Text Right",
      "default": "18 carats"
    }
  ],
  "presets": [
    {
      "name": "Hero (Layout 1)"
    }
  ]
}
{% endschema %}
