<div class="loading js-loading" data-module-init="loading">
  <div class="loading__inner">
    <div class="loading__logo js-skip">
      <svg xmlns="http://www.w3.org/2000/svg" width="186.561" height="51.678">
        <g data-name="Group 3" fill="#fff">
          <path id="Path-1" data-name="Path 1" d="M12.081 36.341v-.831a.9.9 0 01.163-.606.593.593 0 01.859 0 .908.908 0 01.162.606v3.285a.935.935 0 01-.162.62.545.545 0 01-.43.184.538.538 0 01-.4-.169.885.885 0 01-.19-.55 2.847 2.847 0 00-1.282-2.1 5.954 5.954 0 00-3.722-1.255 5.708 5.708 0 00-2.58.606 4.3 4.3 0 00-1.437 1.072 9.122 9.122 0 00-1.482 2.438 5.987 5.987 0 00-.394 2.229v2.071a6.355 6.355 0 001.917 4.6 6.058 6.058 0 004.455 1.954 5.565 5.565 0 002.728-.664 8.422 8.422 0 002.334-2 .677.677 0 01.535-.3.544.544 0 01.408.155.53.53 0 01.155.394c0 .217-.2.544-.606.986a7.766 7.766 0 01-2.6 1.953 7.011 7.011 0 01-2.925.656 7.434 7.434 0 01-2.607-.494 6.53 6.53 0 01-1.678-.888 10.492 10.492 0 01-1.629-1.713 7.71 7.71 0 01-1.317-2.227 6.83 6.83 0 01-.353-2.248v-2.411A7.792 7.792 0 01.94 38.12a6.822 6.822 0 012.566-2.805 6.719 6.719 0 013.532-.98 7.089 7.089 0 015.046 2"/>
          <path id="Path-2" data-name="Path 2" d="M37.667 42.669h3.228a6.813 6.813 0 002.812-.564 4.577 4.577 0 001.834-1.324 2.577 2.577 0 00.569-1.552 3.06 3.06 0 00-1.19-2.255 4.181 4.181 0 00-2.9-1.072h-4.353zm0 1.184v6.175h2.186a.941.941 0 01.62.161.587.587 0 010 .854.911.911 0 01-.62.169h-4.964a.887.887 0 01-.606-.169.592.592 0 010-.854.916.916 0 01.606-.161h1.594V35.902h-1.594a.91.91 0 01-.606-.162.6.6 0 010-.859.91.91 0 01.606-.163h7.164a5.284 5.284 0 013.728 1.4 4.226 4.226 0 011.514 3.165 3.665 3.665 0 01-.937 2.389 6.907 6.907 0 01-3.136 1.869 10.526 10.526 0 012.17 1.974 40.7 40.7 0 012.89 4.511h.9a.917.917 0 01.607.161.59.59 0 010 .854.888.888 0 01-.607.169h-1.579a33 33 0 00-3.4-5.273 8.827 8.827 0 00-2.77-2.086z"/>
          <path id="Path-3" data-name="Path 3" d="M82.214 43.008a8.585 8.585 0 00-1.678-5.187 5.153 5.153 0 00-4.342-2.3 5.321 5.321 0 00-4.265 2.193 8.163 8.163 0 00-1.769 5.293 7.834 7.834 0 001.853 5.391 5.489 5.489 0 004.181 2.1 5.155 5.155 0 004.342-2.291 8.583 8.583 0 001.678-5.2m1.2 0a10.127 10.127 0 01-.959 4.391 7.6 7.6 0 01-2.644 3.15 6.376 6.376 0 01-3.615 1.129 6.6 6.6 0 01-5.04-2.432 10.032 10.032 0 010-12.483 6.6 6.6 0 015.04-2.425 6.356 6.356 0 013.609 1.127 7.7 7.7 0 012.643 3.144 10.063 10.063 0 01.966 4.4"/>
          <path id="Path-4" data-name="Path 4" d="M111.422 35.902v14.126h4.06a.911.911 0 01.607.162.55.55 0 01.183.43.556.556 0 01-.183.423.888.888 0 01-.607.169h-9.3a.888.888 0 01-.607-.169.556.556 0 01-.183-.423.55.55 0 01.183-.43.911.911 0 01.607-.162h4.06V35.902h-4.06a.917.917 0 01-.607-.161.6.6 0 010-.86.911.911 0 01.607-.163h9.3a.911.911 0 01.607.163.6.6 0 010 .86.917.917 0 01-.607.161z"/>
          <path id="Path-5" data-name="Path 5" d="M182.218 29.898l-3.341 2.875a.87.87 0 01-.535.281.569.569 0 01-.416-.175.582.582 0 01-.176-.429.505.505 0 01.063-.255 1.724 1.724 0 01.29-.325l3.326-2.874a.921.921 0 01.55-.282.567.567 0 01.415.176.58.58 0 01.178.429.56.56 0 01-.064.261 1.278 1.278 0 01-.29.318m-5.948 13.349v6.781h9.107v-3.5a.914.914 0 01.161-.606.6.6 0 01.861 0 .914.914 0 01.162.606v4.681h-13.069a.887.887 0 01-.606-.169.591.591 0 010-.853.91.91 0 01.606-.162h1.594V35.902h-1.594a.916.916 0 01-.606-.161.6.6 0 010-.86.91.91 0 01.606-.163h12.448v4.075a.91.91 0 01-.162.606.6.6 0 01-.861 0 .916.916 0 01-.161-.606v-2.891h-8.486v6.161h4.242v-1.339a.882.882 0 01.17-.607.572.572 0 01.436-.183.56.56 0 01.425.183.888.888 0 01.167.607v3.862a.885.885 0 01-.167.606.558.558 0 01-.425.184.569.569 0 01-.436-.184.88.88 0 01-.17-.606v-1.339z"/>
          <path id="Path-6" data-name="Path 6" d="M151.219 51.255h-11.4v-1.719l10.268-13.495v-.1h-9.067v3.482a.9.9 0 01-.17.621.566.566 0 01-.437.183.553.553 0 01-.423-.183.912.912 0 01-.169-.621v-4.662h11.407v1.68l-10.275 13.5v.127h9.08v-3.486a.935.935 0 01.162-.62.593.593 0 01.859 0 .941.941 0 01.163.62z"/>
          <path id="Path-7" data-name="Path 7" d="M87.246 1.509h5.644V.001h-7.152v7.151h1.508z"/>
          <path id="Path-8" data-name="Path 8" d="M100.261 2.584l-1.2-.912-12.717 16.711 1.2.913 12.641-16.612z"/>
          <path id="Path-9" data-name="Path 9" d="M99.383 13.819v5.647h-5.644v1.508h7.152v-7.155z"/>
        </g>
      </svg>
    </div>
  </div>
</div>
