{% include "order-background",
  content_id: 'content11',
  arrow_id: 'arrow11',
  class: 'order-background',
  image: section.settings.image,
  btn_text: section.settings.btn_text,
  btn_url: section.settings.btn_url
%}
{% schema %}
{
  "class": "forward_content_wrapper alternative_bg elevent",
  "name": "Order Background",
  "settings": [
    {
      "type": "header",
      "content": "Block Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "ORDER"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    }
  ],
  "presets": [
    {
      "name": "Order Background"
    }
  ]
}
{% endschema %}
