{% include "text-two-image",
  content_id: 'content8',
  arrow_id: 'arrow8',
  class: 'text-two-image',
  image_first: section.settings.image_first,
  image_second: section.settings.image_second,
  title: section.settings.title,
  content: section.settings.content
%}
{% schema %}
{
  "class": "forward_content_wrapper alternative_bg nine",
  "name": "Text And Image (Layout 9)",
  "settings": [
    {
      "type": "header",
      "content": "Block Content"
    },
    {
      "type": "image_picker",
      "id": "image_first",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_second",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "dessiner avec precisions"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>"
    }
  ],
  "presets": [
    {
      "name": "Text And Image (Layout 9)"
    }
  ]
}
{% endschema %}
