{% include "text-and-image-second",
  content_id: 'content2',
  arrow_id: 'arrow2',
  class: 'text-and-image--right',
  is_right: true,
  content: section.settings.content,
  title: section.settings.title,
  image: section.settings.image
%}
{% schema %}
{
  "class": "forward_content_wrapper alternative_bg third",
  "name": "Text And Image (Layout 3)",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "MOUVEMENT AUTOMATIQUE VAUCHER"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. RisuSSs ultricies tristique nulla aliquet enim tortor at auctor."
    }
  ],
  "presets": [
    {
      "name": "Text And Image (Layout 3)"
    }
  ]
}
{% endschema %}
