{% include "text-and-image",
  content_id: 'content1',
  arrow_id: 'arrow1',
  content: section.settings.content,
  title: section.settings.title,
  image: section.settings.image
%}
{% schema %}
{
  "class": "forward_content_wrapper alternative_bg second",
  "name": "Text And Image (Layout 2)",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Croizé n°0001"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus ultricies tristique nulla aliquet enim tortor at auctor. "
    }
  ],
  "presets": [
    {
      "name": "Text And Image (Layout 2)"
    }
  ]
}
{% endschema %}
