{% include "two-text-and-two-image",
  content_id: 'content6',
  arrow_id: 'arrow6',
  class: 'two-text-and-two-image',
  image_first: section.settings.image_first,
  image_second: section.settings.image_second,
  title_first: section.settings.title_first,
  content_first: section.settings.content_first,
  title_second: section.settings.title_second,
  content_second: section.settings.content_second
%}
{% schema %}
{
  "class": "forward_content_wrapper alternative_bg seven",
  "name": "Text And Image (Layout 7)",
  "settings": [
    {
      "type": "header",
      "content": "Block Content"
    },
    {
      "type": "image_picker",
      "id": "image_first",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_second",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_first",
      "label": "Title First",
      "default": "bracelet"
    },
    {
      "type": "richtext",
      "id": "content_first",
      "label": "Content",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>"
    },
    {
      "type": "text",
      "id": "title_second",
      "label": "Title Second",
      "default": "JUsqu'au bout"
    },
    {
      "type": "richtext",
      "id": "content_second",
      "label": "Content",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>"
    }
  ],
  "presets": [
    {
      "name": "Text And Image (Layout 7)"
    }
  ]
}
{% endschema %}
