{% include "two-hands-image",
  content_id: 'content5',
  arrow_id: 'arrow5',
  class: 'two-hands-image',
  image_first: section.settings.image_first,
  image_second: section.settings.image_second,
  title: section.settings.title,
  content: section.settings.content
%}
{% schema %}
{
  "class": "forward_content_wrapper alternative_bg six",
  "name": "Text And Image (Layout 6)",
  "settings": [
    {
      "type": "header",
      "content": "Block Content"
    },
    {
      "type": "image_picker",
      "id": "image_first",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_second",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Héritage /intemporeL"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>"
    }
  ],
  "presets": [
    {
      "name": "Text And Image (Layout 6)"
    }
  ]
}
{% endschema %}
