.order-background {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.order-background__image {
  position: relative;
}

.order-background__image-wrapper {
  width: 100%;
  height: 320px;

  @media (min-width: break($s)) {
    height: 500px;
  }

  @media (min-width: break($m)) {
    height: 600px;
  }

  @media (min-width: break($l)) {
    height: 760px;
  }

  &:before {
    padding-bottom: 100%;
  }
}

.order-background__button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  z-index: 5;

  @media (min-width: break($m)) {
    bottom: 40px;
  }

  @media (min-width: break($l)) {
    bottom: 50px;
  }

  .button {
    border-radius: 30px;
  }
}
