.two-hands-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.two-hands-image__inner {
  position: relative;
  height: 400px;

  @media (min-width: break($m)) {
    height: 500px;
  }
}

.two-hands-image__title {
  padding-bottom: 10px;
  cursor: pointer;
  z-index: 5;

  @media (min-width: break($xl)) {
    max-width: 512px;
  }
}

.two-hands-image__description {
  @media (min-width: break($xl)) {
    max-width: 512px;
  }

  p {
    color: rgba(255,255,255, 0.5);
  }
}

.two-hands-image__content {
  z-index: 5;

  @media (min-width: break($s)) {
    width: 350px;
  }

  @media (min-width: break($m)) {
    width: 512px;
    padding: 60px;
  }

  @media (min-width: break($xl)) {
    position: absolute;
    top: 16%;
    left: 12%;
    width: 512px;
    padding: 0;
  }

  @media (min-width: break($xxl)) {
    left: 18%;
  }
}

.two-hands-image__content-container {
  @media (min-width: break($xl)) {
    width: 100%;
    max-width: 100%;
  }
}

.two-hands-image__image-first {
  position: absolute;
  top: 0;
  bottom: -100px;
  left: 0;
  margin: auto;
  width: 100%;
  height: 250px;

  @media (min-width: break($s)) {
    bottom: 0;
    height: 350px;
  }

  @media (min-width: break($m)) {
    height: 550px;
  }

  @media (min-width: break($l)) {
    height: 600px;
  }

  @media (min-width: break($xl)) {
    height: 950px;
  }
}

.two-hands-image__image-first-wrapper {
  width: 100%;
  height: 250px;

  @media (min-width: break($s)) {
    height: 350px;
  }

  @media (min-width: break($m)) {
    height: 550px;
  }

  @media (min-width: break($l)) {
    height: 600px;
  }

  @media (min-width: break($xl)) {
    height: 950px;
  }
}

.two-hands-image__image-second {
  position: absolute;
  top: 0;
  bottom: -100px;
  right: 0;
  margin: auto;
  width: 100%;
  height: 250px;

  @media (min-width: break($s)) {
    bottom: 0;
    height: 350px;
  }

  @media (min-width: break($m)) {
    height: 550px;
  }

  @media (min-width: break($l)) {
    height: 600px;
  }

  @media (min-width: break($xl)) {
    height: 950px;
  }
}

.two-hands-image__image-second-wrapper {
  width: 100%;
  height: 250px;

  @media (min-width: break($s)) {
    height: 350px;
  }

  @media (min-width: break($m)) {
    height: 550px;
  }

  @media (min-width: break($l)) {
    height: 600px;
  }

  @media (min-width: break($xl)) {
    height: 950px;
  }
}
