.content-background-second__description p {
  color: rgba(255,255,255, 0.5);
}

.content-background-second {
  display: none;
  position: relative;
  width: 100%;
  overflow: hidden;

  @media (min-width: break($s)) {
    display: block;
  }
}

.content-background-second__image {
  width: 100%;
  height: 100%;

  @media (min-width: break($s)) {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @media (min-width: break($xl)) {
    right: 0;
    width: 100%;
  }
}

.content-background-second__image-wrapper::before {
  @media (min-width: break($xl)) {
    padding-bottom: calc(430 / 765 * 100%);
  }
}

.content-background-second__container {
  height: 100%;
  z-index: 5;
}

.content-background-second__inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;

  @media (min-width: break($s)) {
    width: 300px;
    padding-bottom: 80px;
  }

  @media (min-width: break($m)) {
    width: 351px;
    padding-bottom: 100px;
  }

  @media (min-width: break($l)) {
    width: 512px;
  }
}

.content-background-second__content {
  width: 100%;
}

.content-background-second__title {
  cursor: pointer;
  z-index: 5;
}
