.select-input {
  @include p2;

  position: relative;
  margin-bottom: 3rem;
}

.select-input__el:focus:not([disabled]) {
  outline: none;

  .user-is-tabbing & {
    ~ .text-input__focus {
      @media (min-width: break($m)) {
        z-index: 1;
        border: $c-border-white;
      }
    }
  }
}

.select-input__el {
  height: 4.6rem;
  padding: 0;
  width: 100%;
  color: $c-white;
  border-bottom: $c-border-white;
  transition: border $transition-default;

  .non-touch .select-input:not(.select-input--error) &:hover:not([disabled]) {
    @media (min-width: break($s)) {
      border: $c-border-white;
    }
  }

  .select-input--has-label & {
    padding-top: 1.4rem;
  }

  .select-input--error & {
    border: $c-border-red;
  }

  .select-input--default & {
    padding: 0 10px;
    border: $c-border-white;
  }

  option {
    color: $c-black;
    background-color: $c-white;
  }
}

.select-input__focus {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  border-radius: 5px;
  border: solid 1px transparent;
  transition: border $transition-default;

  @media (min-width: break($xs)) {
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
  }
}

.select-input__label {
  @include p2;

  position: absolute;
  top: 0;
  left: 0;
  max-width: 66.66%;
  transition: all 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  color: $c-white;

  select:focus ~ &,
  select:not([value=""]):valid ~ & {
    font-size: 1.1rem;
  }

  .select-input--default & {
    font-size: 1.1rem;
    position: initial;
  }
}

.select-input__error {
  @include p2;

  position: absolute;
  bottom: -5px;
  left: 0;
  color: var(--error-red);
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  transition: opacity $transition-default;

  .select-input--error & {
    opacity: 1;
  }
}

.select-input__icon {
  display: flex;
  position: absolute;
  right: 0;
  top: 21px;
  width: 13px;
  height: 9px;
  z-index: 0;
  pointer-events: none;

  svg {
    width: 13px;
    height: 9px;
  }

  .select-input--default & {
    top: 40px;
    right: 15px;
  }
}
