.text-two-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.text-two-image__container {
  width: 100%;

  @media (min-width: break($s)) {
    width: calc(100% - 80px);
  }

  @media (min-width: break($m)) {
    width: calc(100% - 160px);
  }
}

.text-two-image__inner {
  display: block;
  position: relative;

  @media (min-width: break($s)) {
    display: flex;
    height: 350px;
  }

  @media (min-width: break($m)) {
    height: 400px;
  }
}

.text-two-image__image {
  padding-bottom: 75px;

  @media (min-width: break($s)) {
    padding-bottom: 20px;
  }
}

.text-two-image__image-wrapper {
  width: 230px;

  @media (min-width: break($s)) {
    width: calc(100% - 150px);
  }

  @media (min-width: break($m)) {
    width: calc(100% - 250px);
  }

  @media (min-width: break($xxl)) {
    width: 900px;
    height: auto;
  }

  &:before {
    padding-bottom: 60%;
  }
}

.text-two-image__block-right {
  position: absolute;
  top: 75px;
  right: 0;
  width: 155px;

  @media (min-width: break($s)) {
    top: 60%;
    width: 250px;
  }

  @media (min-width: break($m)) {
    top: 65%;
    width: 350px;
  }

  @media (min-width: break($l)) {
    top: 75%;
    width: 500px;
  }

  @media (min-width: break($xl)) {
    top: 55%;
    width: 580px;
    height: auto;
  }
}

.text-two-image__image-second-wrapper {
  &:before {
    padding-bottom: 60%;
  }
}

.text-two-image__content {
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (min-width: break($s)) {
    width: 320px;
    margin: inherit;
  }

  @media (min-width: break($m)) {
    width: 480px;
    margin-left: 70px;
  }

  @media (min-width: break($xl)) {
    width: 512px;
  }

  @media (min-width: break($xxl)) {
    width: 636px;
  }
}

.text-two-image__title {
  cursor: pointer;
  z-index: 5;
}
