.forward_nav {
  display: none;
  position: fixed;
  width: auto;
  height: auto;
  z-index: 9;
  top: 20%;
  right: 20px;

  @media (min-width: 768px) {
    top: 20%;
  }

  .template-index & {
    display: inline-block;
  }
}
.forward_nav_item {
  position: relative;
  display: block;
  width: 3px;
  height: 15px;
  background-color: gray;
  margin: 0 auto 15px;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
}

.forward_nav_item.active {
  background-color: white;
}

#PageContainer {
  overflow: hidden;
  margin: 0;
  text-rendering: optimizeLegibility;
}

#MainContent {
  position: relative;
  overflow: hidden;
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.top {
  font-size: 80%;
  color: hsla(0, 0%, 100%, .25);
  position: relative;
  top: -.2em;
  cursor: pointer;
}

.panel {
  position: relative;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  color: hsla(0, 0%, 100%, .1);
  cursor: default;
}

.loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  background-color: $c-black;
  transition: all 1s $ease-out-quart;

  &.is-loaded {
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    background-color: $c-black;
    transition: all 1s $ease-out-quart;
  }

  &.is-loaded-done {
    opacity: 0;
    z-index: -1;
    animation: changeBackgroundColor 10s infinite;
  }
}

@keyframes changeBackgroundColor {
  0% {
    background-color: $c-black;
  }
  50% {
    background-color: $c-black;
  }
  70% {
    background-color: $c-black;
  }
  100% {
    background-color: transparent;
  }
}

.loading__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading__logo {
  cursor: pointer;

  svg {
    pointer-events: none;
  }
}
